.current-user-container{
   border: 1px solid orange;
   padding: 30px;
   border-radius: 20px;
   .user-info {
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      border: 3px solid rgb(204, 69, 69);
      border-top: none;
      gap: 5px;
      &:first-of-type{
         border-top: 3px solid rgb(204, 69, 69);
      }
   }
   h1 {
      font-size: 3.1rem;
      margin-bottom: 20px;
   }
   .status {
      &.traveler {
         color: rgb(47, 197, 251);
      }
      &.member {
         color: rgb(251, 158, 59);
      }
      &.admin {
         color: rgb(183, 79, 224);
      }
   }
}