.current-user-container{
   border: 1px solid orange;
   padding: 30px;
   border-radius: 20px;
   .user-info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      border: 3px solid rgb(204, 71, 69);
      border-top: none;
      gap: 5px;
      &:first-of-type{
         border-top: 3px solid rgb(204, 71, 69);
      }
      .main-info{
         display: flex;
         gap: 5px;
      }
   }
   h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      @media screen and (min-width: 550px) {
         font-size: 3.1rem;
      }
   }
   .status {
      &.traveler {
         color: rgb(47, 197, 251);
      }
      &.member {
         color: rgb(251, 158, 59);
      }
      &.admin {
         color: rgb(197, 86, 240);
      }
   }
}