@font-face {
	font-family: "Earth Aircraft";
	src: url("../assets/EarthAircraftUniverse.ttf");
}

@font-face {
	font-family: "Protest Guerrilla";
	src: url("../assets/ProtestGuerrilla-Regular.ttf");
}

@font-face {
	font-family: "Special Elite";
	src: url("../assets/SpecialElite-Regular.ttf");
}
