h1 {
	font-size: 3rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	header {
		z-index: 5;
		margin-top: 50px;
		h1 {
			font-family: "Protest Guerrilla", Helvetica, Arial, sans-serif;
			display: flex;
			flex-direction: column;
			font-size: 6rem;
			text-align: center;
			letter-spacing: 10px;
			span {
				font-size: 4.5rem;
				color: orange;
				letter-spacing: 5px;
				@media screen and (min-width: 800px) {
					font-size: 6rem;
				}
			}
			@media screen and (min-width: 800px) {
				font-size: 6rem;
				display: block;
			}
		}
		p {
			font-size: 1.5rem;
			text-align: center;
			margin-top: 10px;
			background: -webkit-linear-gradient(white, #8199b3);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.opts-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 30px;
		.btn {
			text-align: center;
			border: 3px solid rgba(4, 149, 245, 0);
			background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to left, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
			border-radius: 5px;
			padding: 10px 30px;
			font-size: 2rem;
			z-index: 5;
			position: relative;
			display: block;
			overflow: hidden;
			-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
			transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
			&:hover {
				box-shadow: 0 0 10px 0 #0068d7 inset, 0 0 20px 2px #007dd7, 0 0 60px 1px rgba(143, 202, 233, 0.778), 0 0 40px 2px rgba(255, 255, 255, 0.737);
				border: 3px solid #00b7d7;
			}
			&.btn-signup {
				background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to right, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
			}
		}
		@media screen and (min-width: 800px) {
			flex-direction: row;
			gap: 55px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

#milky-way {
	position: absolute;
	right: 0;
	bottom: -30px;
	width: 550px;
	z-index: -60;
}
#galaxy-sky {
	position: absolute;
	bottom: -10px;
	left: -30px;
	width: 540px;
	z-index: -60;
	transform: rotate(47deg);
}
#galaxy-sky2 {
	position: absolute;
	bottom: -296px;
	left: 354px;
	width: 540px;
	z-index: -60;
	transform: rotate(41deg);
}
#cube {
	position: absolute;
	right: 55px;
	bottom: 100px;
	width: 150px;
	z-index: -5;
	animation: floating 10s infinite ease-in-out;
	-webkit-animation: floating 10s infinite ease-in-out;
}
#radio {
	cursor: pointer;
	position: absolute;
	left: 60px;
	bottom: 230px;
	width: 230px;
	z-index: 1;
	animation: floating2 15s infinite ease-in-out;
	-webkit-animation: floating2 15s infinite ease-in-out;
}
#earth {
	position: absolute;
	left: -50px;
	bottom: -460px;
	width: 700px;
	height: 700px;
	z-index: -10;
	background: url("../images/earth-blue.webp");
	border-radius: 50%;
	background-size: 1000px;
	box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3), 0 0 60px 20px #fff, /* inner white */ 0 0 100px 40px #0ff, /* middle magenta */ 0 0 140px 60px rgb(98, 0, 255); /* outer cyan */
	animation: rotate 75s infinite linear;
	-webkit-animation: rotate 75s infinite linear;
	transform: rotate(20deg);
}

@keyframes rotate {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 1000px 0px;
	}
}
@-webkit-keyframes rotate {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 1000px 0px;
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px) rotate(20deg); /* Initial position */
	}
	30% {
		transform: translate(0, 25px) rotate(30deg); /* Tilt right */
	}
	50% {
		transform: translate(0, -0px) rotate(20deg); /* Tilt left bit */
	}
	80% {
		transform: translate(0, 10px) rotate(15deg); /* Tilt left bit */
	}
	100% {
		transform: translate(0, 0px) rotate(20deg); /* Back to initial position */
	}
}

@keyframes floating2 {
	0% {
		transform: translate(0, 0px) rotate(-5deg); /* Initial position */
	}
	50% {
		transform: translate(0, -35px) rotate(15deg); /* Tilt left bit */
	}
	80% {
		transform: translate(0, 10px) rotate(-15deg); /* Back to initial position */
	}
	100% {
		transform: translate(0, -0px) rotate(-5deg); /* Back to initial position */
	}
}

/*******************/
/*****  STARS
/*******************/

// n is number of stars required
@function multiple-box-shadow($n) {
	$value: "#{random(2000)}px #{random(2000)}px #FFF";
	@for $i from 2 through $n {
		$value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
	}
	@return unquote($value);
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

body {
	overflow: hidden;
}
.galaxy-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: radial-gradient(ellipse at bottom, #010d1b 0%, #090a0f 100%);
	overflow: hidden;
	pointer-events: none; // hide clicking the body so we can interact with other stuff
	z-index: -100;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $shadows-small;
	animation: animStar 50s linear infinite;

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
	}
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: $shadows-medium;
	animation: animStar 100s linear infinite;

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
	}
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: $shadows-big;
	animation: animStar 150s linear infinite;

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $shadows-big;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
