body.message_list {
	padding: 30px 30px 50px;
	@media screen and (min-width: 550px) {
		padding: 30px 50px 50px;
	}
}

header {
	margin: 0px 0 25px;
	display: flex;
	align-items: center;
	.texts {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		color: rgb(159, 165, 181);
		text-align: center;
		h1 {
			font-size: 2.5rem;
			font-family: "Protest Guerrilla", Helvetica, Arial, sans-serif;
			color: rgb(239, 239, 239);
			@media screen and (min-width: 550px) {
				font-size: 3.3rem;
			}
		}
		h2 {
			font-size: 1.1rem;
			@media screen and (min-width: 550px) {
				font-size: 1.35rem;
			}
		}
		span.member {
			color: rgb(245, 79, 64);
		}
		span#traveler {
			color: rgb(69, 175, 241);
		}
		span#member {
			color: rgb(251, 158, 59);
		}
	}
	@media screen and (min-width: 550px) {
		margin: 20px 0 25px;
	}
}

$filter-grey: invert(81%) sepia(61%) saturate(3%) hue-rotate(70deg) brightness(113%) contrast(96%);
.main-message-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	.message-container {
		position: relative;
		border: 2px solid rgb(87, 92, 105);
		border-radius: 5px;
		background-color: rgb(42, 42, 42);
		display: grid;
		grid-template-columns: 120px 1fr;
		padding: 10px;
		height: 170px;
		width: 80vw;
		.message-info {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 10px;
			overflow: hidden;
			.name-container {
				height: 25px;
				overflow: auto;
				text-align: center;
			}
			img.default.pfp {
				margin-top: 28px;
				width: 40px;
				@media screen and (min-width: 550px) {
					margin-top: 10px;
				}
			}
			img.custom.pfp {
				margin-top: 28px;
				width: 55px;
				filter: $filter-grey;
				background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(0, 170, 255, 0.65) 100%);
				@media screen and (min-width: 550px) {
					margin-top: 10px;
				}
			}
			.bars {
				margin-top: 10px;
				.bar1 {
					margin-top: 10px;
					height: 3px;
					width: 30px;
					border-radius: 15px;
					background-color: rgb(255, 115, 0);
				}
			}
		}
		.message-texts {
			border-left: 1px solid black;
			display: flex;
			flex-direction: column;
			gap: 11px;
			padding: 0 10px 0 20px;
			height: 100%;
			overflow: hidden;
			.texts-area {
				height: 100%;
				overflow: auto;
				.text {
					color: rgb(216, 216, 216);
					font-size: 0.7rem;
					@media screen and (min-width: 550px) {
						font-size: 0.88rem;
					}
				}
			}
			.title {
				color: rgb(239, 239, 239);
				font-weight: 700;
				font-size: 0.8rem;
				@media screen and (min-width: 550px) {
					font-size: 1.02rem;
				}
			}
			.date {
				font-size: 0.7rem;
				margin-left: auto;
				color: orange;
				font-family: "Special Elite", Helvetica, Arial, sans-serif;
				@media screen and (min-width: 550px) {
					font-size: 0.88rem;
				}
			}
		}
		@media screen and (min-width: 550px) {
			width: 80vw;
			height: 145px;
		}
	}
}

$msg-background-color: rgb(29, 33, 44);
.message-form-container {
	position: fixed;
	left: 50%;
	bottom: 35px;
	border: 3px solid rgb(35, 170, 219);
	border-radius: 10px;
	transform: translateX(-50%);
	z-index: 10;
	background-color: $msg-background-color;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80vw;
		padding: 10px 15px;
		gap: 10px;
		input {
			background-color: $msg-background-color;
			color: white;
			border: none;
			width: 100%;
			margin-right: none;
			width: 100%;
			outline: none;
			margin-right: auto;
			outline: none;
			padding: 5px 10px;
			font-size: 1.2rem;
			@media screen and (min-width: 550px) {
				width: 80%;
			}
			@media screen and (min-width: 1000px) {
				width: 88%;
			}
		}
		textarea {
			background-color: $msg-background-color;
			color: white;
			border: none;
			width: 100%;
			margin-right: none;
			margin-right: auto;
			padding: 5px 10px;
			outline: none;
			@media screen and (min-width: 550px) {
				width: 80%;
			}
			@media screen and (min-width: 1000px) {
				width: 85%;
			}
		}
		button {
			position: absolute;
			bottom: -20px;
			right: 50%;
			transform: translateX(50%);
			width: 95px;
			height: 30px;
			border: none;
			border-radius: 5px;
			font-size: 1.05rem;
			color: white;
			background-color: rgb(28, 101, 190);
			transition: all 0.3s ease-in-out;
			&:hover {
				transform: translateY(-5px);
				background-color: rgb(32, 56, 122);
			}
			&:active {
				transform: translateY(5px);
			}
			@media screen and (min-width: 550px) {
				bottom: 10px;
				right: 20px;
				transform: none;
				width: 100px;
				height: 30px;
			}
		}
	}
}

.delete-btn-container {
	position: absolute;
	bottom: 0px;
	.delete-btn {
		text-align: center;
		background-color: rgb(183, 28, 28);
		padding: 3px 10px;
		border-radius: 5px;
		transition: all 0.4s ease-in-out;
		&:hover {
			transform: translateY(-3px);
			background-color: rgb(231, 33, 33);
		}
		a {
			font-size: 0.8rem;
			color: white;
		}
	}
}

.username {
	margin-top: 6px;
	font-size: 1.02rem;
	font-family: "Special Elite", Helvetica, Arial, sans-serif;
	&.traveler {
		color: rgb(47, 197, 251);
	}
	&.member {
		color: rgb(251, 158, 59);
	}
	&.admin {
		color: rgb(197, 86, 240);
	}
}

a {
	span:not(.home) {
		color: rgb(159, 165, 181);
	}
}

/**********************
* * * NAVBAR + Hamburger
***********************/
.navbar {
	.nav-right {
		display: none;
		@media screen and (min-width: 1000px) {
			display: flex;
		}
	}
	.nav-right-mobile {
		position: absolute;
		padding: 15px;
		padding-top: 40px;
		top: 31px;
		right: 25px;
		display: none;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		height: 0;
		overflow: hidden;
		border: 1px solid rgba(255, 255, 255, 0);
		background-color: rgb(20, 24, 38);
		transition: all 0.3s ease-in-out;
		&.active {
			display: flex;
			height: auto;
			border: 1px solid rgb(239, 239, 239);
			@media screen and (min-width: 1000px) {
				display: none;
			}
		}
		@media screen and (min-width: 1000px) {
			display: none;
		}
	}
}

.hamburger {
	margin-left: auto;
	display: block;
	cursor: pointer;
	z-index: 10;
	.bar {
		display: block;
		background-color: rgb(236, 236, 236);
		width: 28px;
		height: 3px;
		margin: 5px;
		transition: all 0.4s ease-in-out;
	}
	&.active {
		.bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		.bar:nth-child(2) {
			opacity: 0;
		}
		.bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
	@media screen and (min-width: 1000px) {
		display: none;
	}
}

/**********************
* * * Pagination + GITHUB LINK (see style.css for full styling)
***********************/
.pagination-navigation {
	position: relative;
	margin: 40px 0 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	.github-link {
		margin-top: 10px;
	}
	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			&:first-child a {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child a {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			&:not(:last-child) {
				margin-right: -1px; // Remove the gap between elements
			}
			&.disabled {
				pointer-events: none;
				padding: 5px 10px;
				text-decoration: none;
				color: #333;
				background-color: #f5f5f5;
				border: 1px solid #ddd;
				@media screen and (min-width: 550px) {
					padding: 10px 15px;
				}
			}
			a {
				padding: 5px 10px;
				text-decoration: none;
				color: #333;
				background-color: #f5f5f5;
				border: 1px solid #ddd;
				&:hover:not(.active) {
					background-color: #eea450;
					border: 1px solid #eea450;
					color: white;
				}
				&.active {
					border-color: #1192e3;
					background-color: #1192e3;
					color: #fff;
				}
				@media screen and (min-width: 550px) {
					padding: 10px 15px;
				}
			}
		}
	}
}

// Define a variable for the background color
$backgroundColor: rgba(255, 255, 255, 0.5);
