h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main header {
  z-index: 5;
  margin-top: 15px;
}
main header h1 {
  font-family: "Protest Guerrilla", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 13px;
}
main header h1 span {
  font-size: 5.5rem;
  color: orange;
  letter-spacing: 5px;
  margin-bottom: -15px;
}
@media screen and (min-width: 550px) {
  main header h1 span {
    font-size: 7rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 span {
    font-size: 6.2rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 550px) {
  main header h1 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 {
    font-size: 6.2rem;
    display: block;
  }
}
main header p {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 10px;
  background: -webkit-linear-gradient(white, #8199b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 550px) {
  main header p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1000px) {
  main header p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  main header {
    margin-top: 50px;
  }
}
main .opts-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 5;
  margin-top: 20px;
}
main .opts-container .btn {
  text-align: center;
  border: 3px solid rgba(4, 149, 245, 0);
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to left, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1.5rem;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
main .opts-container .btn:hover {
  box-shadow: 0 0 10px 0 #0068d7 inset, 0 0 20px 2px #007dd7, 0 0 60px 1px rgba(143, 202, 233, 0.778), 0 0 40px 2px rgba(255, 255, 255, 0.737);
  border: 3px solid #00b7d7;
}
main .opts-container .btn.btn-signup {
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to right, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
}
@media screen and (min-width: 550px) {
  main .opts-container .btn {
    padding: 10px 30px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 550px) {
  main .opts-container {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1000px) {
  main .opts-container {
    margin-top: 0;
    flex-direction: row;
    gap: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/**********************
* * * IMAGES that goes out of bound from viewpoint
***********************/
.external-images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.external-images #milky-way {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 550px;
  z-index: -60;
}
.external-images #galaxy-sky {
  position: absolute;
  bottom: -10px;
  left: -30px;
  width: 540px;
  z-index: -60;
  transform: rotate(47deg);
}
.external-images #galaxy-sky2 {
  position: absolute;
  bottom: -296px;
  left: 354px;
  width: 540px;
  z-index: -60;
  transform: rotate(41deg);
}
.external-images #cube {
  position: absolute;
  right: 35px;
  bottom: 70px;
  width: 125px;
  z-index: -5;
  animation: floating 10s infinite ease-in-out;
  -webkit-animation: floating 10s infinite ease-in-out;
}
@media screen and (min-width: 550px) {
  .external-images #cube {
    width: 150px;
    right: 55px;
    bottom: 100px;
  }
}
.external-images #radio {
  cursor: pointer;
  position: absolute;
  left: -15px;
  bottom: 160px;
  width: 210px;
  z-index: 1;
  animation: floating2 15s infinite ease-in-out;
  -webkit-animation: floating2 15s infinite ease-in-out;
}
@media screen and (min-width: 550px) {
  .external-images #radio {
    left: 60px;
    bottom: 230px;
    width: 230px;
  }
}
.external-images #earth {
  position: absolute;
  left: 50%;
  bottom: -460px;
  width: 700px;
  height: 700px;
  z-index: -10;
  background: url("../images/earth-blue.webp");
  border-radius: 50%;
  background-size: 1000px;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3), 0 0 60px 20px #fff, 0 0 100px 40px #0ff, 0 0 140px 60px rgb(98, 0, 255); /* outer cyan */
  animation: rotate 75s infinite linear;
  -webkit-animation: rotate 75s infinite linear;
  transform: translateX(-50%) rotate(20deg);
}
@media screen and (min-width: 550px) {
  .external-images #earth {
    left: -50px;
    transform: rotate(20deg);
  }
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px) rotate(20deg); /* Initial position */
  }
  30% {
    transform: translate(0, 25px) rotate(30deg); /* Tilt right */
  }
  50% {
    transform: translate(0, 0px) rotate(20deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(15deg); /* Tilt left bit */
  }
  100% {
    transform: translate(0, 0px) rotate(20deg); /* Back to initial position */
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, 0px) rotate(-5deg); /* Initial position */
  }
  50% {
    transform: translate(0, -35px) rotate(15deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(-15deg); /* Back to initial position */
  }
  100% {
    transform: translate(0, 0px) rotate(-5deg); /* Back to initial position */
  }
}
/*******************/
/*****  STARS
/*******************/
body {
  overflow: hidden;
}

.galaxy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #010d1b 0%, #090a0f 100%);
  overflow: hidden;
  pointer-events: none;
  z-index: -100;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1016px 991px #FFF , 1892px 1269px #FFF , 635px 1242px #FFF , 731px 1019px #FFF , 535px 402px #FFF , 1185px 1287px #FFF , 116px 1503px #FFF , 1465px 1690px #FFF , 1923px 961px #FFF , 1635px 1548px #FFF , 1369px 436px #FFF , 823px 566px #FFF , 1642px 562px #FFF , 1673px 1184px #FFF , 1339px 704px #FFF , 1428px 924px #FFF , 1148px 1680px #FFF , 55px 5px #FFF , 1170px 999px #FFF , 680px 455px #FFF , 1272px 280px #FFF , 229px 566px #FFF , 1605px 1838px #FFF , 1477px 822px #FFF , 1493px 962px #FFF , 1140px 61px #FFF , 1361px 1593px #FFF , 171px 659px #FFF , 167px 1020px #FFF , 1579px 515px #FFF , 129px 395px #FFF , 1840px 1221px #FFF , 1192px 1718px #FFF , 224px 905px #FFF , 555px 479px #FFF , 999px 551px #FFF , 1191px 1917px #FFF , 1193px 295px #FFF , 1028px 1119px #FFF , 1646px 1342px #FFF , 389px 249px #FFF , 841px 1503px #FFF , 213px 765px #FFF , 1942px 1229px #FFF , 105px 779px #FFF , 1978px 718px #FFF , 667px 846px #FFF , 1042px 1403px #FFF , 917px 1191px #FFF , 649px 810px #FFF , 455px 1821px #FFF , 973px 289px #FFF , 27px 1062px #FFF , 1032px 1859px #FFF , 1427px 364px #FFF , 847px 1898px #FFF , 694px 768px #FFF , 52px 1206px #FFF , 301px 568px #FFF , 1660px 234px #FFF , 1431px 1532px #FFF , 589px 542px #FFF , 821px 1750px #FFF , 752px 99px #FFF , 1889px 320px #FFF , 1029px 344px #FFF , 77px 1979px #FFF , 1769px 920px #FFF , 1581px 1580px #FFF , 1058px 736px #FFF , 115px 1972px #FFF , 50px 1871px #FFF , 1550px 480px #FFF , 1465px 503px #FFF , 1751px 1554px #FFF , 601px 1478px #FFF , 31px 424px #FFF , 137px 327px #FFF , 1465px 717px #FFF , 1482px 224px #FFF , 1111px 1983px #FFF , 302px 158px #FFF , 613px 1127px #FFF , 1867px 402px #FFF , 1843px 861px #FFF , 980px 1065px #FFF , 1188px 1831px #FFF , 413px 271px #FFF , 887px 504px #FFF , 75px 1402px #FFF , 891px 836px #FFF , 1420px 1190px #FFF , 81px 1195px #FFF , 1426px 1879px #FFF , 1279px 1629px #FFF , 427px 1439px #FFF , 314px 1378px #FFF , 1378px 1516px #FFF , 614px 1136px #FFF , 761px 146px #FFF , 1229px 336px #FFF , 861px 528px #FFF , 876px 1281px #FFF , 312px 1762px #FFF , 345px 1994px #FFF , 864px 666px #FFF , 1790px 170px #FFF , 814px 1568px #FFF , 180px 1890px #FFF , 1368px 362px #FFF , 1848px 1682px #FFF , 731px 1354px #FFF , 1904px 460px #FFF , 211px 910px #FFF , 1033px 1917px #FFF , 1737px 491px #FFF , 789px 1705px #FFF , 1519px 880px #FFF , 1342px 1000px #FFF , 649px 1271px #FFF , 1714px 1654px #FFF , 316px 1371px #FFF , 1016px 970px #FFF , 1639px 914px #FFF , 1909px 1321px #FFF , 701px 24px #FFF , 1170px 351px #FFF , 617px 1906px #FFF , 924px 1554px #FFF , 770px 996px #FFF , 1661px 1796px #FFF , 785px 1711px #FFF , 1081px 1861px #FFF , 1400px 1157px #FFF , 1029px 1688px #FFF , 1263px 1795px #FFF , 278px 272px #FFF , 1314px 1348px #FFF , 30px 113px #FFF , 1718px 1524px #FFF , 277px 846px #FFF , 383px 1196px #FFF , 1947px 1879px #FFF , 962px 1634px #FFF , 987px 1624px #FFF , 688px 594px #FFF , 1844px 1912px #FFF , 714px 505px #FFF , 650px 1094px #FFF , 1180px 940px #FFF , 301px 1012px #FFF , 441px 684px #FFF , 1930px 1078px #FFF , 190px 1505px #FFF , 597px 736px #FFF , 954px 1674px #FFF , 1309px 342px #FFF , 783px 934px #FFF , 989px 1914px #FFF , 1253px 1575px #FFF , 426px 1472px #FFF , 1950px 792px #FFF , 326px 524px #FFF , 1453px 371px #FFF , 1565px 1384px #FFF , 100px 528px #FFF , 1876px 1979px #FFF , 652px 1796px #FFF , 268px 1936px #FFF , 1971px 1500px #FFF , 1410px 1293px #FFF , 81px 1310px #FFF , 1977px 148px #FFF , 1761px 271px #FFF , 1973px 768px #FFF , 1036px 1317px #FFF , 1267px 748px #FFF , 1307px 300px #FFF , 1503px 1743px #FFF , 1775px 1902px #FFF , 53px 81px #FFF , 1556px 652px #FFF , 1034px 1560px #FFF , 988px 530px #FFF , 1376px 769px #FFF , 677px 1807px #FFF , 449px 1920px #FFF , 591px 1025px #FFF , 1326px 1651px #FFF , 20px 1650px #FFF , 241px 256px #FFF , 1259px 676px #FFF , 1664px 1959px #FFF , 1891px 1876px #FFF , 1716px 1558px #FFF , 1104px 1260px #FFF , 1986px 254px #FFF , 514px 271px #FFF , 1887px 679px #FFF , 131px 175px #FFF , 794px 1630px #FFF , 568px 1869px #FFF , 912px 1406px #FFF , 1270px 712px #FFF , 111px 1915px #FFF , 225px 47px #FFF , 1153px 1662px #FFF , 1898px 1006px #FFF , 939px 1295px #FFF , 746px 859px #FFF , 1951px 509px #FFF , 945px 716px #FFF , 704px 246px #FFF , 443px 305px #FFF , 1824px 119px #FFF , 615px 1353px #FFF , 49px 1009px #FFF , 547px 125px #FFF , 1692px 1773px #FFF , 1361px 1364px #FFF , 1543px 1951px #FFF , 366px 1376px #FFF , 1523px 860px #FFF , 578px 725px #FFF , 30px 1751px #FFF , 1507px 372px #FFF , 1814px 274px #FFF , 997px 1158px #FFF , 982px 268px #FFF , 1857px 142px #FFF , 1286px 1827px #FFF , 885px 1493px #FFF , 410px 1099px #FFF , 354px 1162px #FFF , 93px 1539px #FFF , 1762px 1354px #FFF , 1736px 712px #FFF , 779px 1703px #FFF , 123px 631px #FFF , 881px 1354px #FFF , 1715px 636px #FFF , 1351px 219px #FFF , 1826px 609px #FFF , 1992px 1816px #FFF , 979px 729px #FFF , 1948px 190px #FFF , 849px 64px #FFF , 979px 490px #FFF , 770px 1865px #FFF , 790px 943px #FFF , 1669px 180px #FFF , 631px 238px #FFF , 1244px 1277px #FFF , 485px 17px #FFF , 417px 502px #FFF , 1903px 592px #FFF , 691px 1561px #FFF , 1257px 698px #FFF , 258px 72px #FFF , 1430px 504px #FFF , 33px 977px #FFF , 1523px 1963px #FFF , 1542px 1095px #FFF , 114px 639px #FFF , 1936px 1910px #FFF , 695px 1600px #FFF , 232px 732px #FFF , 575px 1278px #FFF , 1705px 1213px #FFF , 275px 1285px #FFF , 888px 1595px #FFF , 1649px 605px #FFF , 292px 1863px #FFF , 728px 1200px #FFF , 1393px 1394px #FFF , 1582px 1925px #FFF , 1654px 189px #FFF , 1376px 1873px #FFF , 1785px 701px #FFF , 1389px 1517px #FFF , 894px 952px #FFF , 579px 1830px #FFF , 1302px 1831px #FFF , 1958px 630px #FFF , 452px 1943px #FFF , 1820px 157px #FFF , 293px 358px #FFF , 757px 666px #FFF , 1853px 1132px #FFF , 971px 895px #FFF , 460px 1857px #FFF , 854px 1190px #FFF , 142px 75px #FFF , 552px 287px #FFF , 1064px 1918px #FFF , 1919px 909px #FFF , 1454px 1375px #FFF , 418px 1189px #FFF , 836px 489px #FFF , 1884px 679px #FFF , 1083px 1306px #FFF , 1658px 1009px #FFF , 1505px 449px #FFF , 1885px 1384px #FFF , 443px 177px #FFF , 755px 932px #FFF , 912px 1358px #FFF , 1364px 1587px #FFF , 1601px 1166px #FFF , 379px 649px #FFF , 1963px 600px #FFF , 660px 1624px #FFF , 1416px 1715px #FFF , 1345px 121px #FFF , 941px 1555px #FFF , 1095px 762px #FFF , 886px 104px #FFF , 1407px 830px #FFF , 1259px 1347px #FFF , 1897px 1528px #FFF , 1334px 1083px #FFF , 1751px 975px #FFF , 1364px 313px #FFF , 99px 876px #FFF , 1405px 260px #FFF , 647px 1684px #FFF , 532px 227px #FFF , 943px 1248px #FFF , 1000px 118px #FFF , 1896px 1208px #FFF , 1520px 1050px #FFF , 1577px 1623px #FFF , 369px 1268px #FFF , 1028px 58px #FFF , 1988px 401px #FFF , 1164px 1361px #FFF , 1061px 1135px #FFF , 1964px 1350px #FFF , 1688px 1077px #FFF , 1314px 275px #FFF , 1124px 1918px #FFF , 869px 1700px #FFF , 1018px 1482px #FFF , 153px 753px #FFF , 1838px 1282px #FFF , 82px 87px #FFF , 991px 338px #FFF , 501px 367px #FFF , 976px 704px #FFF , 870px 1487px #FFF , 708px 1870px #FFF , 1696px 718px #FFF , 1008px 1866px #FFF , 1169px 374px #FFF , 1510px 35px #FFF , 199px 1992px #FFF , 1020px 603px #FFF , 1325px 1136px #FFF , 1345px 1786px #FFF , 193px 1323px #FFF , 38px 1128px #FFF , 787px 1772px #FFF , 1034px 1110px #FFF , 887px 1518px #FFF , 645px 1890px #FFF , 825px 1320px #FFF , 1438px 1187px #FFF , 370px 1233px #FFF , 214px 1179px #FFF , 1983px 1443px #FFF , 279px 487px #FFF , 264px 113px #FFF , 1735px 1409px #FFF , 1171px 1834px #FFF , 634px 698px #FFF , 1687px 1708px #FFF , 592px 905px #FFF , 1569px 735px #FFF , 1855px 510px #FFF , 756px 1591px #FFF , 1340px 1622px #FFF , 782px 1776px #FFF , 776px 1587px #FFF , 973px 1272px #FFF , 421px 162px #FFF , 138px 1818px #FFF , 1587px 1665px #FFF , 1740px 843px #FFF , 328px 246px #FFF , 92px 124px #FFF , 1489px 833px #FFF , 14px 1839px #FFF , 945px 612px #FFF , 674px 699px #FFF , 846px 77px #FFF , 1376px 830px #FFF , 91px 1152px #FFF , 1110px 1552px #FFF , 993px 268px #FFF , 1352px 1654px #FFF , 181px 396px #FFF , 575px 1115px #FFF , 310px 92px #FFF , 1577px 297px #FFF , 1721px 1240px #FFF , 1684px 99px #FFF , 1204px 1346px #FFF , 1956px 664px #FFF , 108px 1878px #FFF , 1288px 661px #FFF , 331px 1071px #FFF , 1345px 398px #FFF , 521px 246px #FFF , 1033px 1092px #FFF , 926px 1024px #FFF , 591px 157px #FFF , 1506px 357px #FFF , 1912px 299px #FFF , 1473px 917px #FFF , 832px 729px #FFF , 414px 230px #FFF , 706px 968px #FFF , 112px 1805px #FFF , 1607px 296px #FFF , 956px 1809px #FFF , 979px 473px #FFF , 464px 1032px #FFF , 1230px 130px #FFF , 1206px 1685px #FFF , 301px 186px #FFF , 1411px 1670px #FFF , 1148px 1822px #FFF , 1463px 1595px #FFF , 471px 1261px #FFF , 859px 419px #FFF , 748px 1612px #FFF , 390px 354px #FFF , 1145px 321px #FFF , 609px 94px #FFF , 1446px 226px #FFF , 149px 930px #FFF , 162px 1763px #FFF , 1179px 75px #FFF , 1634px 1189px #FFF , 763px 66px #FFF , 1160px 312px #FFF , 1311px 886px #FFF , 1376px 970px #FFF , 1314px 1118px #FFF , 308px 1591px #FFF , 561px 524px #FFF , 1150px 1090px #FFF , 1393px 440px #FFF , 629px 656px #FFF , 1120px 1277px #FFF , 1652px 1561px #FFF , 1116px 1895px #FFF , 1738px 1780px #FFF , 584px 1818px #FFF , 28px 793px #FFF , 667px 1026px #FFF , 1052px 1849px #FFF , 993px 1871px #FFF , 1816px 631px #FFF , 238px 1692px #FFF , 577px 1286px #FFF , 464px 559px #FFF , 226px 1712px #FFF , 182px 1413px #FFF , 420px 794px #FFF , 147px 212px #FFF , 1132px 17px #FFF , 616px 1815px #FFF , 693px 1110px #FFF , 936px 318px #FFF , 1772px 691px #FFF , 1967px 1136px #FFF , 1584px 1596px #FFF , 1399px 426px #FFF , 553px 978px #FFF , 1741px 183px #FFF , 623px 98px #FFF , 157px 1582px #FFF , 915px 813px #FFF , 1979px 383px #FFF , 1509px 8px #FFF , 1681px 510px #FFF , 353px 1537px #FFF , 1993px 1044px #FFF , 1895px 1306px #FFF , 1181px 235px #FFF , 84px 140px #FFF , 405px 1323px #FFF , 384px 1686px #FFF , 1278px 872px #FFF , 71px 1432px #FFF , 1691px 1711px #FFF , 644px 1779px #FFF , 467px 65px #FFF , 954px 90px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1016px 991px #FFF , 1892px 1269px #FFF , 635px 1242px #FFF , 731px 1019px #FFF , 535px 402px #FFF , 1185px 1287px #FFF , 116px 1503px #FFF , 1465px 1690px #FFF , 1923px 961px #FFF , 1635px 1548px #FFF , 1369px 436px #FFF , 823px 566px #FFF , 1642px 562px #FFF , 1673px 1184px #FFF , 1339px 704px #FFF , 1428px 924px #FFF , 1148px 1680px #FFF , 55px 5px #FFF , 1170px 999px #FFF , 680px 455px #FFF , 1272px 280px #FFF , 229px 566px #FFF , 1605px 1838px #FFF , 1477px 822px #FFF , 1493px 962px #FFF , 1140px 61px #FFF , 1361px 1593px #FFF , 171px 659px #FFF , 167px 1020px #FFF , 1579px 515px #FFF , 129px 395px #FFF , 1840px 1221px #FFF , 1192px 1718px #FFF , 224px 905px #FFF , 555px 479px #FFF , 999px 551px #FFF , 1191px 1917px #FFF , 1193px 295px #FFF , 1028px 1119px #FFF , 1646px 1342px #FFF , 389px 249px #FFF , 841px 1503px #FFF , 213px 765px #FFF , 1942px 1229px #FFF , 105px 779px #FFF , 1978px 718px #FFF , 667px 846px #FFF , 1042px 1403px #FFF , 917px 1191px #FFF , 649px 810px #FFF , 455px 1821px #FFF , 973px 289px #FFF , 27px 1062px #FFF , 1032px 1859px #FFF , 1427px 364px #FFF , 847px 1898px #FFF , 694px 768px #FFF , 52px 1206px #FFF , 301px 568px #FFF , 1660px 234px #FFF , 1431px 1532px #FFF , 589px 542px #FFF , 821px 1750px #FFF , 752px 99px #FFF , 1889px 320px #FFF , 1029px 344px #FFF , 77px 1979px #FFF , 1769px 920px #FFF , 1581px 1580px #FFF , 1058px 736px #FFF , 115px 1972px #FFF , 50px 1871px #FFF , 1550px 480px #FFF , 1465px 503px #FFF , 1751px 1554px #FFF , 601px 1478px #FFF , 31px 424px #FFF , 137px 327px #FFF , 1465px 717px #FFF , 1482px 224px #FFF , 1111px 1983px #FFF , 302px 158px #FFF , 613px 1127px #FFF , 1867px 402px #FFF , 1843px 861px #FFF , 980px 1065px #FFF , 1188px 1831px #FFF , 413px 271px #FFF , 887px 504px #FFF , 75px 1402px #FFF , 891px 836px #FFF , 1420px 1190px #FFF , 81px 1195px #FFF , 1426px 1879px #FFF , 1279px 1629px #FFF , 427px 1439px #FFF , 314px 1378px #FFF , 1378px 1516px #FFF , 614px 1136px #FFF , 761px 146px #FFF , 1229px 336px #FFF , 861px 528px #FFF , 876px 1281px #FFF , 312px 1762px #FFF , 345px 1994px #FFF , 864px 666px #FFF , 1790px 170px #FFF , 814px 1568px #FFF , 180px 1890px #FFF , 1368px 362px #FFF , 1848px 1682px #FFF , 731px 1354px #FFF , 1904px 460px #FFF , 211px 910px #FFF , 1033px 1917px #FFF , 1737px 491px #FFF , 789px 1705px #FFF , 1519px 880px #FFF , 1342px 1000px #FFF , 649px 1271px #FFF , 1714px 1654px #FFF , 316px 1371px #FFF , 1016px 970px #FFF , 1639px 914px #FFF , 1909px 1321px #FFF , 701px 24px #FFF , 1170px 351px #FFF , 617px 1906px #FFF , 924px 1554px #FFF , 770px 996px #FFF , 1661px 1796px #FFF , 785px 1711px #FFF , 1081px 1861px #FFF , 1400px 1157px #FFF , 1029px 1688px #FFF , 1263px 1795px #FFF , 278px 272px #FFF , 1314px 1348px #FFF , 30px 113px #FFF , 1718px 1524px #FFF , 277px 846px #FFF , 383px 1196px #FFF , 1947px 1879px #FFF , 962px 1634px #FFF , 987px 1624px #FFF , 688px 594px #FFF , 1844px 1912px #FFF , 714px 505px #FFF , 650px 1094px #FFF , 1180px 940px #FFF , 301px 1012px #FFF , 441px 684px #FFF , 1930px 1078px #FFF , 190px 1505px #FFF , 597px 736px #FFF , 954px 1674px #FFF , 1309px 342px #FFF , 783px 934px #FFF , 989px 1914px #FFF , 1253px 1575px #FFF , 426px 1472px #FFF , 1950px 792px #FFF , 326px 524px #FFF , 1453px 371px #FFF , 1565px 1384px #FFF , 100px 528px #FFF , 1876px 1979px #FFF , 652px 1796px #FFF , 268px 1936px #FFF , 1971px 1500px #FFF , 1410px 1293px #FFF , 81px 1310px #FFF , 1977px 148px #FFF , 1761px 271px #FFF , 1973px 768px #FFF , 1036px 1317px #FFF , 1267px 748px #FFF , 1307px 300px #FFF , 1503px 1743px #FFF , 1775px 1902px #FFF , 53px 81px #FFF , 1556px 652px #FFF , 1034px 1560px #FFF , 988px 530px #FFF , 1376px 769px #FFF , 677px 1807px #FFF , 449px 1920px #FFF , 591px 1025px #FFF , 1326px 1651px #FFF , 20px 1650px #FFF , 241px 256px #FFF , 1259px 676px #FFF , 1664px 1959px #FFF , 1891px 1876px #FFF , 1716px 1558px #FFF , 1104px 1260px #FFF , 1986px 254px #FFF , 514px 271px #FFF , 1887px 679px #FFF , 131px 175px #FFF , 794px 1630px #FFF , 568px 1869px #FFF , 912px 1406px #FFF , 1270px 712px #FFF , 111px 1915px #FFF , 225px 47px #FFF , 1153px 1662px #FFF , 1898px 1006px #FFF , 939px 1295px #FFF , 746px 859px #FFF , 1951px 509px #FFF , 945px 716px #FFF , 704px 246px #FFF , 443px 305px #FFF , 1824px 119px #FFF , 615px 1353px #FFF , 49px 1009px #FFF , 547px 125px #FFF , 1692px 1773px #FFF , 1361px 1364px #FFF , 1543px 1951px #FFF , 366px 1376px #FFF , 1523px 860px #FFF , 578px 725px #FFF , 30px 1751px #FFF , 1507px 372px #FFF , 1814px 274px #FFF , 997px 1158px #FFF , 982px 268px #FFF , 1857px 142px #FFF , 1286px 1827px #FFF , 885px 1493px #FFF , 410px 1099px #FFF , 354px 1162px #FFF , 93px 1539px #FFF , 1762px 1354px #FFF , 1736px 712px #FFF , 779px 1703px #FFF , 123px 631px #FFF , 881px 1354px #FFF , 1715px 636px #FFF , 1351px 219px #FFF , 1826px 609px #FFF , 1992px 1816px #FFF , 979px 729px #FFF , 1948px 190px #FFF , 849px 64px #FFF , 979px 490px #FFF , 770px 1865px #FFF , 790px 943px #FFF , 1669px 180px #FFF , 631px 238px #FFF , 1244px 1277px #FFF , 485px 17px #FFF , 417px 502px #FFF , 1903px 592px #FFF , 691px 1561px #FFF , 1257px 698px #FFF , 258px 72px #FFF , 1430px 504px #FFF , 33px 977px #FFF , 1523px 1963px #FFF , 1542px 1095px #FFF , 114px 639px #FFF , 1936px 1910px #FFF , 695px 1600px #FFF , 232px 732px #FFF , 575px 1278px #FFF , 1705px 1213px #FFF , 275px 1285px #FFF , 888px 1595px #FFF , 1649px 605px #FFF , 292px 1863px #FFF , 728px 1200px #FFF , 1393px 1394px #FFF , 1582px 1925px #FFF , 1654px 189px #FFF , 1376px 1873px #FFF , 1785px 701px #FFF , 1389px 1517px #FFF , 894px 952px #FFF , 579px 1830px #FFF , 1302px 1831px #FFF , 1958px 630px #FFF , 452px 1943px #FFF , 1820px 157px #FFF , 293px 358px #FFF , 757px 666px #FFF , 1853px 1132px #FFF , 971px 895px #FFF , 460px 1857px #FFF , 854px 1190px #FFF , 142px 75px #FFF , 552px 287px #FFF , 1064px 1918px #FFF , 1919px 909px #FFF , 1454px 1375px #FFF , 418px 1189px #FFF , 836px 489px #FFF , 1884px 679px #FFF , 1083px 1306px #FFF , 1658px 1009px #FFF , 1505px 449px #FFF , 1885px 1384px #FFF , 443px 177px #FFF , 755px 932px #FFF , 912px 1358px #FFF , 1364px 1587px #FFF , 1601px 1166px #FFF , 379px 649px #FFF , 1963px 600px #FFF , 660px 1624px #FFF , 1416px 1715px #FFF , 1345px 121px #FFF , 941px 1555px #FFF , 1095px 762px #FFF , 886px 104px #FFF , 1407px 830px #FFF , 1259px 1347px #FFF , 1897px 1528px #FFF , 1334px 1083px #FFF , 1751px 975px #FFF , 1364px 313px #FFF , 99px 876px #FFF , 1405px 260px #FFF , 647px 1684px #FFF , 532px 227px #FFF , 943px 1248px #FFF , 1000px 118px #FFF , 1896px 1208px #FFF , 1520px 1050px #FFF , 1577px 1623px #FFF , 369px 1268px #FFF , 1028px 58px #FFF , 1988px 401px #FFF , 1164px 1361px #FFF , 1061px 1135px #FFF , 1964px 1350px #FFF , 1688px 1077px #FFF , 1314px 275px #FFF , 1124px 1918px #FFF , 869px 1700px #FFF , 1018px 1482px #FFF , 153px 753px #FFF , 1838px 1282px #FFF , 82px 87px #FFF , 991px 338px #FFF , 501px 367px #FFF , 976px 704px #FFF , 870px 1487px #FFF , 708px 1870px #FFF , 1696px 718px #FFF , 1008px 1866px #FFF , 1169px 374px #FFF , 1510px 35px #FFF , 199px 1992px #FFF , 1020px 603px #FFF , 1325px 1136px #FFF , 1345px 1786px #FFF , 193px 1323px #FFF , 38px 1128px #FFF , 787px 1772px #FFF , 1034px 1110px #FFF , 887px 1518px #FFF , 645px 1890px #FFF , 825px 1320px #FFF , 1438px 1187px #FFF , 370px 1233px #FFF , 214px 1179px #FFF , 1983px 1443px #FFF , 279px 487px #FFF , 264px 113px #FFF , 1735px 1409px #FFF , 1171px 1834px #FFF , 634px 698px #FFF , 1687px 1708px #FFF , 592px 905px #FFF , 1569px 735px #FFF , 1855px 510px #FFF , 756px 1591px #FFF , 1340px 1622px #FFF , 782px 1776px #FFF , 776px 1587px #FFF , 973px 1272px #FFF , 421px 162px #FFF , 138px 1818px #FFF , 1587px 1665px #FFF , 1740px 843px #FFF , 328px 246px #FFF , 92px 124px #FFF , 1489px 833px #FFF , 14px 1839px #FFF , 945px 612px #FFF , 674px 699px #FFF , 846px 77px #FFF , 1376px 830px #FFF , 91px 1152px #FFF , 1110px 1552px #FFF , 993px 268px #FFF , 1352px 1654px #FFF , 181px 396px #FFF , 575px 1115px #FFF , 310px 92px #FFF , 1577px 297px #FFF , 1721px 1240px #FFF , 1684px 99px #FFF , 1204px 1346px #FFF , 1956px 664px #FFF , 108px 1878px #FFF , 1288px 661px #FFF , 331px 1071px #FFF , 1345px 398px #FFF , 521px 246px #FFF , 1033px 1092px #FFF , 926px 1024px #FFF , 591px 157px #FFF , 1506px 357px #FFF , 1912px 299px #FFF , 1473px 917px #FFF , 832px 729px #FFF , 414px 230px #FFF , 706px 968px #FFF , 112px 1805px #FFF , 1607px 296px #FFF , 956px 1809px #FFF , 979px 473px #FFF , 464px 1032px #FFF , 1230px 130px #FFF , 1206px 1685px #FFF , 301px 186px #FFF , 1411px 1670px #FFF , 1148px 1822px #FFF , 1463px 1595px #FFF , 471px 1261px #FFF , 859px 419px #FFF , 748px 1612px #FFF , 390px 354px #FFF , 1145px 321px #FFF , 609px 94px #FFF , 1446px 226px #FFF , 149px 930px #FFF , 162px 1763px #FFF , 1179px 75px #FFF , 1634px 1189px #FFF , 763px 66px #FFF , 1160px 312px #FFF , 1311px 886px #FFF , 1376px 970px #FFF , 1314px 1118px #FFF , 308px 1591px #FFF , 561px 524px #FFF , 1150px 1090px #FFF , 1393px 440px #FFF , 629px 656px #FFF , 1120px 1277px #FFF , 1652px 1561px #FFF , 1116px 1895px #FFF , 1738px 1780px #FFF , 584px 1818px #FFF , 28px 793px #FFF , 667px 1026px #FFF , 1052px 1849px #FFF , 993px 1871px #FFF , 1816px 631px #FFF , 238px 1692px #FFF , 577px 1286px #FFF , 464px 559px #FFF , 226px 1712px #FFF , 182px 1413px #FFF , 420px 794px #FFF , 147px 212px #FFF , 1132px 17px #FFF , 616px 1815px #FFF , 693px 1110px #FFF , 936px 318px #FFF , 1772px 691px #FFF , 1967px 1136px #FFF , 1584px 1596px #FFF , 1399px 426px #FFF , 553px 978px #FFF , 1741px 183px #FFF , 623px 98px #FFF , 157px 1582px #FFF , 915px 813px #FFF , 1979px 383px #FFF , 1509px 8px #FFF , 1681px 510px #FFF , 353px 1537px #FFF , 1993px 1044px #FFF , 1895px 1306px #FFF , 1181px 235px #FFF , 84px 140px #FFF , 405px 1323px #FFF , 384px 1686px #FFF , 1278px 872px #FFF , 71px 1432px #FFF , 1691px 1711px #FFF , 644px 1779px #FFF , 467px 65px #FFF , 954px 90px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 678px 1238px #FFF , 179px 135px #FFF , 1346px 612px #FFF , 1628px 58px #FFF , 1290px 275px #FFF , 888px 617px #FFF , 1658px 25px #FFF , 228px 1642px #FFF , 1029px 1370px #FFF , 1913px 933px #FFF , 214px 58px #FFF , 395px 383px #FFF , 1980px 752px #FFF , 1664px 1579px #FFF , 1488px 1254px #FFF , 1846px 164px #FFF , 1268px 1575px #FFF , 1190px 1410px #FFF , 903px 1982px #FFF , 1277px 813px #FFF , 68px 144px #FFF , 568px 1191px #FFF , 1758px 60px #FFF , 794px 1788px #FFF , 351px 1503px #FFF , 1508px 1705px #FFF , 1076px 993px #FFF , 1942px 420px #FFF , 883px 1445px #FFF , 1492px 347px #FFF , 1392px 1223px #FFF , 1906px 1877px #FFF , 1670px 1926px #FFF , 1641px 4px #FFF , 982px 1562px #FFF , 1490px 631px #FFF , 665px 1568px #FFF , 1907px 1788px #FFF , 75px 1106px #FFF , 786px 1012px #FFF , 678px 1258px #FFF , 531px 152px #FFF , 1913px 691px #FFF , 196px 931px #FFF , 21px 1254px #FFF , 294px 234px #FFF , 50px 822px #FFF , 1723px 184px #FFF , 1879px 106px #FFF , 459px 364px #FFF , 1616px 770px #FFF , 811px 311px #FFF , 621px 1560px #FFF , 78px 1797px #FFF , 1137px 1627px #FFF , 1795px 1762px #FFF , 423px 228px #FFF , 1994px 1636px #FFF , 1172px 886px #FFF , 797px 129px #FFF , 1960px 1830px #FFF , 1450px 174px #FFF , 1643px 1476px #FFF , 1611px 1600px #FFF , 1935px 1914px #FFF , 765px 162px #FFF , 1272px 1660px #FFF , 315px 1193px #FFF , 1790px 1849px #FFF , 1569px 673px #FFF , 155px 1429px #FFF , 1528px 1210px #FFF , 477px 1577px #FFF , 563px 145px #FFF , 1830px 1233px #FFF , 1621px 412px #FFF , 1444px 66px #FFF , 460px 1475px #FFF , 1270px 670px #FFF , 1179px 509px #FFF , 1336px 1158px #FFF , 1485px 1426px #FFF , 566px 684px #FFF , 654px 1090px #FFF , 1191px 600px #FFF , 1082px 1103px #FFF , 76px 1267px #FFF , 1103px 170px #FFF , 1075px 1887px #FFF , 1683px 1089px #FFF , 1708px 462px #FFF , 1423px 1495px #FFF , 1906px 617px #FFF , 201px 1955px #FFF , 486px 1406px #FFF , 120px 1489px #FFF , 1223px 1896px #FFF , 1750px 220px #FFF , 1143px 472px #FFF , 1659px 1579px #FFF , 832px 515px #FFF , 1501px 1622px #FFF , 266px 1956px #FFF , 110px 630px #FFF , 1152px 1695px #FFF , 1391px 856px #FFF , 604px 418px #FFF , 519px 543px #FFF , 1957px 745px #FFF , 341px 250px #FFF , 1041px 1846px #FFF , 21px 1650px #FFF , 1715px 1202px #FFF , 361px 1064px #FFF , 1530px 1519px #FFF , 1771px 1639px #FFF , 429px 132px #FFF , 384px 1215px #FFF , 1819px 1788px #FFF , 1261px 1961px #FFF , 1331px 223px #FFF , 334px 1526px #FFF , 506px 71px #FFF , 1598px 70px #FFF , 480px 1443px #FFF , 1164px 1223px #FFF , 1829px 1111px #FFF , 1932px 326px #FFF , 348px 413px #FFF , 1953px 591px #FFF , 137px 694px #FFF , 840px 861px #FFF , 660px 991px #FFF , 995px 186px #FFF , 659px 279px #FFF , 1695px 639px #FFF , 756px 1779px #FFF , 1231px 1929px #FFF , 1371px 657px #FFF , 1782px 400px #FFF , 354px 297px #FFF , 990px 1878px #FFF , 1820px 953px #FFF , 1097px 1156px #FFF , 390px 512px #FFF , 233px 1250px #FFF , 31px 1046px #FFF , 990px 1827px #FFF , 1546px 717px #FFF , 1187px 9px #FFF , 515px 1814px #FFF , 1102px 1455px #FFF , 1360px 1169px #FFF , 1743px 958px #FFF , 1423px 1109px #FFF , 1304px 484px #FFF , 1052px 417px #FFF , 723px 850px #FFF , 1728px 1341px #FFF , 1134px 1073px #FFF , 264px 653px #FFF , 1928px 1904px #FFF , 531px 250px #FFF , 380px 342px #FFF , 1605px 1602px #FFF , 178px 509px #FFF , 271px 868px #FFF , 1215px 1038px #FFF , 1310px 1580px #FFF , 337px 656px #FFF , 360px 38px #FFF , 474px 160px #FFF , 1385px 1441px #FFF , 28px 1722px #FFF , 1101px 141px #FFF , 353px 482px #FFF , 836px 1470px #FFF , 1321px 656px #FFF , 1365px 600px #FFF , 1875px 1904px #FFF , 1137px 338px #FFF , 990px 87px #FFF , 131px 1045px #FFF , 1100px 294px #FFF , 748px 602px #FFF , 1563px 1230px #FFF , 869px 1767px #FFF , 1617px 105px #FFF , 1245px 982px #FFF , 737px 1320px #FFF , 438px 972px #FFF , 625px 762px #FFF , 1677px 146px #FFF , 507px 1088px #FFF , 52px 1442px #FFF , 1805px 680px #FFF , 999px 442px #FFF , 92px 265px #FFF , 1320px 1298px #FFF , 1947px 1209px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 678px 1238px #FFF , 179px 135px #FFF , 1346px 612px #FFF , 1628px 58px #FFF , 1290px 275px #FFF , 888px 617px #FFF , 1658px 25px #FFF , 228px 1642px #FFF , 1029px 1370px #FFF , 1913px 933px #FFF , 214px 58px #FFF , 395px 383px #FFF , 1980px 752px #FFF , 1664px 1579px #FFF , 1488px 1254px #FFF , 1846px 164px #FFF , 1268px 1575px #FFF , 1190px 1410px #FFF , 903px 1982px #FFF , 1277px 813px #FFF , 68px 144px #FFF , 568px 1191px #FFF , 1758px 60px #FFF , 794px 1788px #FFF , 351px 1503px #FFF , 1508px 1705px #FFF , 1076px 993px #FFF , 1942px 420px #FFF , 883px 1445px #FFF , 1492px 347px #FFF , 1392px 1223px #FFF , 1906px 1877px #FFF , 1670px 1926px #FFF , 1641px 4px #FFF , 982px 1562px #FFF , 1490px 631px #FFF , 665px 1568px #FFF , 1907px 1788px #FFF , 75px 1106px #FFF , 786px 1012px #FFF , 678px 1258px #FFF , 531px 152px #FFF , 1913px 691px #FFF , 196px 931px #FFF , 21px 1254px #FFF , 294px 234px #FFF , 50px 822px #FFF , 1723px 184px #FFF , 1879px 106px #FFF , 459px 364px #FFF , 1616px 770px #FFF , 811px 311px #FFF , 621px 1560px #FFF , 78px 1797px #FFF , 1137px 1627px #FFF , 1795px 1762px #FFF , 423px 228px #FFF , 1994px 1636px #FFF , 1172px 886px #FFF , 797px 129px #FFF , 1960px 1830px #FFF , 1450px 174px #FFF , 1643px 1476px #FFF , 1611px 1600px #FFF , 1935px 1914px #FFF , 765px 162px #FFF , 1272px 1660px #FFF , 315px 1193px #FFF , 1790px 1849px #FFF , 1569px 673px #FFF , 155px 1429px #FFF , 1528px 1210px #FFF , 477px 1577px #FFF , 563px 145px #FFF , 1830px 1233px #FFF , 1621px 412px #FFF , 1444px 66px #FFF , 460px 1475px #FFF , 1270px 670px #FFF , 1179px 509px #FFF , 1336px 1158px #FFF , 1485px 1426px #FFF , 566px 684px #FFF , 654px 1090px #FFF , 1191px 600px #FFF , 1082px 1103px #FFF , 76px 1267px #FFF , 1103px 170px #FFF , 1075px 1887px #FFF , 1683px 1089px #FFF , 1708px 462px #FFF , 1423px 1495px #FFF , 1906px 617px #FFF , 201px 1955px #FFF , 486px 1406px #FFF , 120px 1489px #FFF , 1223px 1896px #FFF , 1750px 220px #FFF , 1143px 472px #FFF , 1659px 1579px #FFF , 832px 515px #FFF , 1501px 1622px #FFF , 266px 1956px #FFF , 110px 630px #FFF , 1152px 1695px #FFF , 1391px 856px #FFF , 604px 418px #FFF , 519px 543px #FFF , 1957px 745px #FFF , 341px 250px #FFF , 1041px 1846px #FFF , 21px 1650px #FFF , 1715px 1202px #FFF , 361px 1064px #FFF , 1530px 1519px #FFF , 1771px 1639px #FFF , 429px 132px #FFF , 384px 1215px #FFF , 1819px 1788px #FFF , 1261px 1961px #FFF , 1331px 223px #FFF , 334px 1526px #FFF , 506px 71px #FFF , 1598px 70px #FFF , 480px 1443px #FFF , 1164px 1223px #FFF , 1829px 1111px #FFF , 1932px 326px #FFF , 348px 413px #FFF , 1953px 591px #FFF , 137px 694px #FFF , 840px 861px #FFF , 660px 991px #FFF , 995px 186px #FFF , 659px 279px #FFF , 1695px 639px #FFF , 756px 1779px #FFF , 1231px 1929px #FFF , 1371px 657px #FFF , 1782px 400px #FFF , 354px 297px #FFF , 990px 1878px #FFF , 1820px 953px #FFF , 1097px 1156px #FFF , 390px 512px #FFF , 233px 1250px #FFF , 31px 1046px #FFF , 990px 1827px #FFF , 1546px 717px #FFF , 1187px 9px #FFF , 515px 1814px #FFF , 1102px 1455px #FFF , 1360px 1169px #FFF , 1743px 958px #FFF , 1423px 1109px #FFF , 1304px 484px #FFF , 1052px 417px #FFF , 723px 850px #FFF , 1728px 1341px #FFF , 1134px 1073px #FFF , 264px 653px #FFF , 1928px 1904px #FFF , 531px 250px #FFF , 380px 342px #FFF , 1605px 1602px #FFF , 178px 509px #FFF , 271px 868px #FFF , 1215px 1038px #FFF , 1310px 1580px #FFF , 337px 656px #FFF , 360px 38px #FFF , 474px 160px #FFF , 1385px 1441px #FFF , 28px 1722px #FFF , 1101px 141px #FFF , 353px 482px #FFF , 836px 1470px #FFF , 1321px 656px #FFF , 1365px 600px #FFF , 1875px 1904px #FFF , 1137px 338px #FFF , 990px 87px #FFF , 131px 1045px #FFF , 1100px 294px #FFF , 748px 602px #FFF , 1563px 1230px #FFF , 869px 1767px #FFF , 1617px 105px #FFF , 1245px 982px #FFF , 737px 1320px #FFF , 438px 972px #FFF , 625px 762px #FFF , 1677px 146px #FFF , 507px 1088px #FFF , 52px 1442px #FFF , 1805px 680px #FFF , 999px 442px #FFF , 92px 265px #FFF , 1320px 1298px #FFF , 1947px 1209px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 180px 251px #FFF , 1786px 1697px #FFF , 345px 1123px #FFF , 1625px 964px #FFF , 314px 248px #FFF , 764px 1992px #FFF , 904px 1122px #FFF , 573px 582px #FFF , 1818px 247px #FFF , 114px 505px #FFF , 608px 1703px #FFF , 14px 268px #FFF , 360px 781px #FFF , 145px 677px #FFF , 1514px 891px #FFF , 1175px 1704px #FFF , 309px 32px #FFF , 1699px 1574px #FFF , 1879px 1942px #FFF , 1909px 499px #FFF , 769px 1308px #FFF , 1752px 1939px #FFF , 1209px 1613px #FFF , 278px 527px #FFF , 1852px 754px #FFF , 1364px 421px #FFF , 1848px 803px #FFF , 681px 589px #FFF , 1876px 1610px #FFF , 1905px 965px #FFF , 1169px 1015px #FFF , 637px 47px #FFF , 514px 1869px #FFF , 963px 1767px #FFF , 1967px 773px #FFF , 1980px 249px #FFF , 1122px 812px #FFF , 953px 1891px #FFF , 58px 559px #FFF , 63px 1036px #FFF , 1275px 1542px #FFF , 488px 71px #FFF , 1386px 1091px #FFF , 904px 1392px #FFF , 584px 1204px #FFF , 183px 280px #FFF , 1628px 1203px #FFF , 1226px 653px #FFF , 1862px 1286px #FFF , 965px 1292px #FFF , 1721px 492px #FFF , 684px 1246px #FFF , 527px 1922px #FFF , 814px 768px #FFF , 1712px 1579px #FFF , 125px 61px #FFF , 1269px 1057px #FFF , 34px 1038px #FFF , 1725px 1195px #FFF , 1170px 1832px #FFF , 1921px 1730px #FFF , 1684px 1515px #FFF , 1771px 1161px #FFF , 1468px 816px #FFF , 607px 808px #FFF , 1637px 900px #FFF , 1027px 700px #FFF , 1538px 1625px #FFF , 1587px 1016px #FFF , 1749px 1496px #FFF , 1934px 95px #FFF , 415px 1461px #FFF , 1473px 949px #FFF , 1834px 1675px #FFF , 137px 1216px #FFF , 1391px 1235px #FFF , 801px 1803px #FFF , 635px 1234px #FFF , 1147px 615px #FFF , 1890px 986px #FFF , 71px 398px #FFF , 461px 903px #FFF , 406px 656px #FFF , 1350px 751px #FFF , 1813px 1753px #FFF , 1565px 786px #FFF , 99px 523px #FFF , 326px 1168px #FFF , 1249px 70px #FFF , 356px 839px #FFF , 143px 1928px #FFF , 719px 227px #FFF , 892px 155px #FFF , 655px 904px #FFF , 1761px 1264px #FFF , 1308px 18px #FFF , 1674px 1432px #FFF , 1403px 1710px #FFF , 1088px 414px #FFF , 1865px 1662px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 180px 251px #FFF , 1786px 1697px #FFF , 345px 1123px #FFF , 1625px 964px #FFF , 314px 248px #FFF , 764px 1992px #FFF , 904px 1122px #FFF , 573px 582px #FFF , 1818px 247px #FFF , 114px 505px #FFF , 608px 1703px #FFF , 14px 268px #FFF , 360px 781px #FFF , 145px 677px #FFF , 1514px 891px #FFF , 1175px 1704px #FFF , 309px 32px #FFF , 1699px 1574px #FFF , 1879px 1942px #FFF , 1909px 499px #FFF , 769px 1308px #FFF , 1752px 1939px #FFF , 1209px 1613px #FFF , 278px 527px #FFF , 1852px 754px #FFF , 1364px 421px #FFF , 1848px 803px #FFF , 681px 589px #FFF , 1876px 1610px #FFF , 1905px 965px #FFF , 1169px 1015px #FFF , 637px 47px #FFF , 514px 1869px #FFF , 963px 1767px #FFF , 1967px 773px #FFF , 1980px 249px #FFF , 1122px 812px #FFF , 953px 1891px #FFF , 58px 559px #FFF , 63px 1036px #FFF , 1275px 1542px #FFF , 488px 71px #FFF , 1386px 1091px #FFF , 904px 1392px #FFF , 584px 1204px #FFF , 183px 280px #FFF , 1628px 1203px #FFF , 1226px 653px #FFF , 1862px 1286px #FFF , 965px 1292px #FFF , 1721px 492px #FFF , 684px 1246px #FFF , 527px 1922px #FFF , 814px 768px #FFF , 1712px 1579px #FFF , 125px 61px #FFF , 1269px 1057px #FFF , 34px 1038px #FFF , 1725px 1195px #FFF , 1170px 1832px #FFF , 1921px 1730px #FFF , 1684px 1515px #FFF , 1771px 1161px #FFF , 1468px 816px #FFF , 607px 808px #FFF , 1637px 900px #FFF , 1027px 700px #FFF , 1538px 1625px #FFF , 1587px 1016px #FFF , 1749px 1496px #FFF , 1934px 95px #FFF , 415px 1461px #FFF , 1473px 949px #FFF , 1834px 1675px #FFF , 137px 1216px #FFF , 1391px 1235px #FFF , 801px 1803px #FFF , 635px 1234px #FFF , 1147px 615px #FFF , 1890px 986px #FFF , 71px 398px #FFF , 461px 903px #FFF , 406px 656px #FFF , 1350px 751px #FFF , 1813px 1753px #FFF , 1565px 786px #FFF , 99px 523px #FFF , 326px 1168px #FFF , 1249px 70px #FFF , 356px 839px #FFF , 143px 1928px #FFF , 719px 227px #FFF , 892px 155px #FFF , 655px 904px #FFF , 1761px 1264px #FFF , 1308px 18px #FFF , 1674px 1432px #FFF , 1403px 1710px #FFF , 1088px 414px #FFF , 1865px 1662px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*# sourceMappingURL=homepage.css.map */
