h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main header {
  z-index: 5;
  margin-top: 15px;
}
main header h1 {
  font-family: "Protest Guerrilla", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 13px;
}
main header h1 span {
  font-size: 5.5rem;
  color: orange;
  letter-spacing: 5px;
  margin-bottom: -15px;
}
@media screen and (min-width: 550px) {
  main header h1 span {
    font-size: 7rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 span {
    font-size: 6.2rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 550px) {
  main header h1 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 {
    font-size: 6.2rem;
    display: block;
  }
}
main header p {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 10px;
  background: -webkit-linear-gradient(white, #8199b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 550px) {
  main header p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1000px) {
  main header p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  main header {
    margin-top: 50px;
  }
}
main .opts-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 5;
  margin-top: 20px;
}
main .opts-container .btn {
  text-align: center;
  border: 3px solid rgba(4, 149, 245, 0);
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to left, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 1.55rem;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
main .opts-container .btn:hover {
  box-shadow: 0 0 10px 0 #0068d7 inset, 0 0 20px 2px #007dd7, 0 0 60px 1px rgba(143, 202, 233, 0.778), 0 0 40px 2px rgba(255, 255, 255, 0.737);
  border: 3px solid #00b7d7;
}
main .opts-container .btn.btn-signup {
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to right, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
}
@media screen and (min-width: 550px) {
  main .opts-container .btn {
    padding: 10px 30px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 550px) {
  main .opts-container {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1000px) {
  main .opts-container {
    margin-top: 0;
    flex-direction: row;
    gap: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/**********************
* * * IMAGES that goes out of bound from viewpoint
***********************/
.external-images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.external-images #milky-way {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 550px;
  z-index: -60;
}
.external-images #galaxy-sky {
  position: absolute;
  bottom: -10px;
  left: -30px;
  width: 540px;
  z-index: -60;
  transform: rotate(47deg);
}
.external-images #galaxy-sky2 {
  position: absolute;
  bottom: -296px;
  left: 354px;
  width: 540px;
  z-index: -60;
  transform: rotate(41deg);
}
.external-images #cube {
  cursor: pointer;
  position: absolute;
  right: 35px;
  bottom: 85px;
  width: 125px;
  z-index: -5;
  animation: floating 10s infinite ease-in-out;
  -webkit-animation: floating 10s infinite ease-in-out;
}
.external-images #cube:hover, .external-images #cube:active {
  animation-play-state: paused; /* Pause the animation on hover */
  transform: rotateY(360deg); /* Add rotation effect on hover */
}
@media screen and (min-width: 550px) {
  .external-images #cube {
    width: 150px;
    right: 55px;
    bottom: 100px;
  }
}
.external-images #radio {
  cursor: pointer;
  position: absolute;
  left: -15px;
  bottom: 170px;
  width: 210px;
  z-index: 1;
  animation: floating2 15s infinite ease-in-out;
  -webkit-animation: floating2 15s infinite ease-in-out;
}
@media screen and (min-width: 550px) {
  .external-images #radio {
    left: 60px;
    bottom: 230px;
    width: 230px;
  }
}
.external-images #earth {
  position: absolute;
  left: 50%;
  bottom: -460px;
  width: 700px;
  height: 700px;
  z-index: -10;
  background: url("../images/earth-blue.webp");
  border-radius: 50%;
  background-size: 1000px;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3), 0 0 60px 20px #fff, 0 0 100px 40px #0ff, 0 0 140px 60px rgb(98, 0, 255); /* outer cyan */
  animation: rotate 75s infinite linear;
  -webkit-animation: rotate 75s infinite linear;
  transform: translateX(-50%) rotate(20deg);
}
@media screen and (min-width: 550px) {
  .external-images #earth {
    left: -50px;
    transform: rotate(20deg);
  }
}
.external-images #lightbulb1 {
  display: none;
  position: absolute;
  width: 150px;
  bottom: 170px;
  right: 100px;
  z-index: -11;
  box-shadow: 0 0 60px 20px #fff, 0 0 100px 40px rgb(0, 225, 255), 0 0 140px 40px rgb(98, 0, 255);
  transform: rotate(-25deg);
}
@media screen and (min-width: 550px) {
  .external-images #lightbulb1 {
    display: block;
  }
}
.external-images #lightbulb2 {
  display: none;
  position: absolute;
  bottom: -25px;
  right: -10px;
  width: 113px;
  z-index: -11;
  box-shadow: 0 0 60px 10px #fff, 0 0 130px 40px rgb(0, 225, 255), 0 0 800px 70px rgb(42, 0, 255), 0 0 1000px 60px rgb(255, 0, 116);
  transform: rotate(334deg);
}
@media screen and (min-width: 550px) {
  .external-images #lightbulb2 {
    display: block;
  }
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px) rotate(20deg); /* Initial position */
  }
  30% {
    transform: translate(0, 25px) rotate(30deg); /* Tilt right */
  }
  50% {
    transform: translate(0, 0px) rotate(20deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(15deg); /* Tilt left bit */
  }
  100% {
    transform: translate(0, 0px) rotate(20deg); /* Back to initial position */
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, 0px) rotate(-10deg); /* Initial position */
  }
  50% {
    transform: translate(0, -35px) rotate(15deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(-15deg); /* Back to initial position */
  }
  100% {
    transform: translate(0, 0px) rotate(-10deg); /* Back to initial position */
  }
}
/*******************/
/*****  STARS
/*******************/
body {
  overflow: hidden;
}

.galaxy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #010d1b 0%, #090a0f 100%);
  overflow: hidden;
  pointer-events: none;
  z-index: -100;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1980px 1720px #FFF , 1310px 451px #FFF , 1097px 1930px #FFF , 309px 93px #FFF , 1720px 861px #FFF , 724px 1197px #FFF , 211px 865px #FFF , 1340px 88px #FFF , 56px 650px #FFF , 1568px 391px #FFF , 1403px 1594px #FFF , 875px 1543px #FFF , 204px 597px #FFF , 887px 796px #FFF , 294px 1666px #FFF , 767px 853px #FFF , 234px 936px #FFF , 589px 499px #FFF , 1518px 165px #FFF , 868px 1726px #FFF , 1837px 1145px #FFF , 2px 984px #FFF , 1336px 1084px #FFF , 1788px 996px #FFF , 1541px 28px #FFF , 1545px 1333px #FFF , 1716px 234px #FFF , 142px 1348px #FFF , 1666px 1994px #FFF , 532px 1441px #FFF , 745px 852px #FFF , 562px 335px #FFF , 327px 206px #FFF , 1988px 1340px #FFF , 674px 1371px #FFF , 575px 647px #FFF , 1565px 1660px #FFF , 1242px 217px #FFF , 1594px 946px #FFF , 1755px 1810px #FFF , 1660px 481px #FFF , 1359px 747px #FFF , 393px 1969px #FFF , 228px 1208px #FFF , 1043px 876px #FFF , 1709px 1621px #FFF , 1914px 493px #FFF , 933px 736px #FFF , 1377px 646px #FFF , 272px 1089px #FFF , 102px 51px #FFF , 960px 1503px #FFF , 936px 1202px #FFF , 820px 53px #FFF , 1756px 372px #FFF , 92px 1032px #FFF , 1788px 1895px #FFF , 30px 836px #FFF , 1226px 706px #FFF , 1305px 1327px #FFF , 805px 1169px #FFF , 1956px 973px #FFF , 757px 1622px #FFF , 605px 1702px #FFF , 142px 1888px #FFF , 1333px 1702px #FFF , 1288px 455px #FFF , 1978px 260px #FFF , 814px 1239px #FFF , 672px 1105px #FFF , 1615px 108px #FFF , 893px 1274px #FFF , 108px 70px #FFF , 1750px 287px #FFF , 1135px 1736px #FFF , 920px 778px #FFF , 1197px 1494px #FFF , 1558px 101px #FFF , 950px 552px #FFF , 1783px 1767px #FFF , 691px 1536px #FFF , 368px 291px #FFF , 222px 279px #FFF , 855px 598px #FFF , 401px 1934px #FFF , 501px 423px #FFF , 1711px 446px #FFF , 514px 31px #FFF , 674px 1602px #FFF , 442px 1444px #FFF , 1549px 1764px #FFF , 1386px 832px #FFF , 1277px 392px #FFF , 335px 881px #FFF , 1830px 173px #FFF , 44px 1086px #FFF , 1978px 1332px #FFF , 1728px 1408px #FFF , 750px 548px #FFF , 727px 1451px #FFF , 1498px 1838px #FFF , 871px 1934px #FFF , 1275px 1072px #FFF , 1594px 1210px #FFF , 964px 1640px #FFF , 809px 150px #FFF , 1056px 1514px #FFF , 1331px 253px #FFF , 1186px 1909px #FFF , 573px 1178px #FFF , 867px 397px #FFF , 1012px 1564px #FFF , 1722px 583px #FFF , 1236px 1634px #FFF , 1726px 1661px #FFF , 639px 1760px #FFF , 153px 1907px #FFF , 1103px 560px #FFF , 977px 1651px #FFF , 1010px 1451px #FFF , 28px 1679px #FFF , 1152px 115px #FFF , 58px 1520px #FFF , 1813px 348px #FFF , 482px 293px #FFF , 1673px 70px #FFF , 1675px 594px #FFF , 144px 1809px #FFF , 428px 1672px #FFF , 56px 649px #FFF , 927px 811px #FFF , 381px 1339px #FFF , 787px 452px #FFF , 1332px 1318px #FFF , 1378px 1434px #FFF , 1916px 784px #FFF , 1758px 1517px #FFF , 197px 1227px #FFF , 56px 646px #FFF , 1062px 794px #FFF , 1900px 48px #FFF , 1751px 639px #FFF , 1264px 457px #FFF , 1913px 931px #FFF , 627px 882px #FFF , 1521px 1727px #FFF , 810px 1031px #FFF , 1504px 838px #FFF , 1446px 986px #FFF , 645px 1917px #FFF , 1253px 711px #FFF , 565px 1355px #FFF , 197px 1078px #FFF , 342px 1332px #FFF , 1233px 44px #FFF , 1977px 1030px #FFF , 1354px 1308px #FFF , 773px 565px #FFF , 1614px 770px #FFF , 1769px 903px #FFF , 265px 1837px #FFF , 1122px 788px #FFF , 494px 1299px #FFF , 1938px 567px #FFF , 786px 211px #FFF , 77px 1392px #FFF , 300px 1934px #FFF , 1026px 869px #FFF , 1530px 22px #FFF , 393px 1122px #FFF , 1169px 662px #FFF , 61px 1894px #FFF , 1694px 1171px #FFF , 1551px 1521px #FFF , 1085px 521px #FFF , 793px 1122px #FFF , 1073px 1019px #FFF , 957px 462px #FFF , 524px 1174px #FFF , 1072px 96px #FFF , 1125px 201px #FFF , 1641px 5px #FFF , 1860px 1421px #FFF , 1639px 280px #FFF , 1515px 489px #FFF , 929px 1119px #FFF , 1165px 1525px #FFF , 833px 257px #FFF , 1433px 1745px #FFF , 878px 281px #FFF , 354px 87px #FFF , 568px 508px #FFF , 457px 433px #FFF , 1171px 940px #FFF , 237px 361px #FFF , 1510px 1815px #FFF , 15px 1157px #FFF , 725px 1024px #FFF , 390px 1799px #FFF , 1795px 1251px #FFF , 48px 213px #FFF , 520px 936px #FFF , 552px 221px #FFF , 1252px 1147px #FFF , 265px 724px #FFF , 490px 1053px #FFF , 1146px 748px #FFF , 404px 850px #FFF , 611px 244px #FFF , 1409px 212px #FFF , 38px 2px #FFF , 26px 247px #FFF , 538px 1528px #FFF , 934px 1033px #FFF , 1595px 313px #FFF , 1363px 491px #FFF , 174px 858px #FFF , 1943px 546px #FFF , 940px 881px #FFF , 1217px 877px #FFF , 780px 1924px #FFF , 103px 1301px #FFF , 156px 1405px #FFF , 992px 1291px #FFF , 1559px 1093px #FFF , 372px 1568px #FFF , 1980px 1160px #FFF , 682px 1107px #FFF , 92px 927px #FFF , 229px 689px #FFF , 1475px 744px #FFF , 184px 1039px #FFF , 446px 1620px #FFF , 812px 1252px #FFF , 545px 471px #FFF , 202px 601px #FFF , 1584px 496px #FFF , 1779px 1533px #FFF , 1677px 1880px #FFF , 385px 1149px #FFF , 978px 1572px #FFF , 10px 133px #FFF , 1107px 1766px #FFF , 1832px 928px #FFF , 486px 664px #FFF , 1391px 425px #FFF , 1918px 1356px #FFF , 99px 982px #FFF , 1634px 969px #FFF , 1826px 1077px #FFF , 1543px 1387px #FFF , 677px 1001px #FFF , 952px 909px #FFF , 730px 1603px #FFF , 5px 1587px #FFF , 36px 1040px #FFF , 1294px 1228px #FFF , 660px 1762px #FFF , 498px 1178px #FFF , 503px 1530px #FFF , 1625px 825px #FFF , 1537px 1206px #FFF , 1233px 712px #FFF , 352px 400px #FFF , 324px 1147px #FFF , 1208px 299px #FFF , 1625px 1918px #FFF , 134px 1939px #FFF , 1269px 163px #FFF , 1421px 998px #FFF , 622px 981px #FFF , 686px 1364px #FFF , 248px 341px #FFF , 1911px 1790px #FFF , 1494px 437px #FFF , 1268px 1868px #FFF , 1405px 1852px #FFF , 288px 756px #FFF , 432px 69px #FFF , 521px 1388px #FFF , 229px 1318px #FFF , 693px 1115px #FFF , 5px 1782px #FFF , 148px 871px #FFF , 1545px 714px #FFF , 903px 1946px #FFF , 1886px 184px #FFF , 1768px 732px #FFF , 782px 481px #FFF , 396px 1825px #FFF , 139px 234px #FFF , 1428px 1688px #FFF , 1113px 1668px #FFF , 187px 1670px #FFF , 50px 1234px #FFF , 37px 1279px #FFF , 539px 1644px #FFF , 729px 1670px #FFF , 63px 393px #FFF , 1690px 1566px #FFF , 1485px 169px #FFF , 1583px 124px #FFF , 324px 1048px #FFF , 1747px 811px #FFF , 506px 1186px #FFF , 499px 1814px #FFF , 1107px 650px #FFF , 790px 297px #FFF , 1714px 896px #FFF , 597px 48px #FFF , 617px 169px #FFF , 859px 1301px #FFF , 1282px 459px #FFF , 1871px 626px #FFF , 1627px 1992px #FFF , 666px 743px #FFF , 154px 1128px #FFF , 384px 1803px #FFF , 103px 1723px #FFF , 1282px 1505px #FFF , 1607px 490px #FFF , 537px 58px #FFF , 1969px 1581px #FFF , 1708px 1442px #FFF , 441px 1486px #FFF , 1463px 973px #FFF , 1431px 1678px #FFF , 711px 499px #FFF , 1229px 144px #FFF , 1404px 274px #FFF , 34px 1894px #FFF , 321px 89px #FFF , 91px 1461px #FFF , 1360px 878px #FFF , 368px 154px #FFF , 96px 1564px #FFF , 992px 648px #FFF , 865px 658px #FFF , 1328px 1898px #FFF , 1475px 1951px #FFF , 1798px 1358px #FFF , 1681px 1465px #FFF , 555px 422px #FFF , 30px 1203px #FFF , 1709px 1427px #FFF , 781px 1052px #FFF , 789px 1914px #FFF , 91px 470px #FFF , 1155px 393px #FFF , 238px 1914px #FFF , 1002px 746px #FFF , 507px 1150px #FFF , 1127px 1821px #FFF , 108px 608px #FFF , 1248px 518px #FFF , 784px 1986px #FFF , 1730px 1231px #FFF , 1490px 1036px #FFF , 67px 1927px #FFF , 724px 586px #FFF , 1443px 37px #FFF , 1357px 711px #FFF , 1611px 1697px #FFF , 227px 878px #FFF , 1181px 159px #FFF , 1705px 472px #FFF , 1689px 1967px #FFF , 1103px 329px #FFF , 184px 875px #FFF , 1057px 1109px #FFF , 1385px 108px #FFF , 1865px 937px #FFF , 368px 1485px #FFF , 620px 1345px #FFF , 354px 1205px #FFF , 106px 412px #FFF , 264px 696px #FFF , 699px 80px #FFF , 1852px 1199px #FFF , 287px 674px #FFF , 1785px 1686px #FFF , 1105px 1496px #FFF , 1305px 184px #FFF , 1706px 1242px #FFF , 1665px 101px #FFF , 1950px 858px #FFF , 1930px 1605px #FFF , 1418px 1303px #FFF , 909px 1659px #FFF , 1877px 628px #FFF , 1667px 525px #FFF , 320px 1604px #FFF , 643px 335px #FFF , 1102px 10px #FFF , 1755px 1732px #FFF , 1359px 1787px #FFF , 1607px 436px #FFF , 1609px 889px #FFF , 294px 1192px #FFF , 901px 1986px #FFF , 1316px 127px #FFF , 220px 1755px #FFF , 169px 1168px #FFF , 949px 209px #FFF , 442px 358px #FFF , 1868px 1971px #FFF , 863px 188px #FFF , 1365px 377px #FFF , 722px 1088px #FFF , 597px 1759px #FFF , 96px 351px #FFF , 540px 544px #FFF , 2000px 1320px #FFF , 798px 914px #FFF , 840px 107px #FFF , 130px 112px #FFF , 314px 1149px #FFF , 121px 1715px #FFF , 852px 1549px #FFF , 1508px 399px #FFF , 1662px 1637px #FFF , 116px 1833px #FFF , 761px 1414px #FFF , 1603px 1898px #FFF , 1226px 57px #FFF , 651px 1007px #FFF , 1628px 1865px #FFF , 1482px 812px #FFF , 529px 178px #FFF , 564px 465px #FFF , 165px 1921px #FFF , 1147px 325px #FFF , 1780px 307px #FFF , 1272px 1116px #FFF , 1739px 1948px #FFF , 928px 1265px #FFF , 490px 1774px #FFF , 1218px 1731px #FFF , 1869px 344px #FFF , 142px 605px #FFF , 933px 6px #FFF , 811px 412px #FFF , 715px 181px #FFF , 1790px 1018px #FFF , 916px 1988px #FFF , 90px 1770px #FFF , 247px 1276px #FFF , 1814px 1288px #FFF , 1962px 393px #FFF , 726px 1177px #FFF , 459px 136px #FFF , 93px 1192px #FFF , 280px 873px #FFF , 1789px 1779px #FFF , 1030px 194px #FFF , 670px 1060px #FFF , 928px 864px #FFF , 338px 963px #FFF , 344px 1652px #FFF , 675px 1973px #FFF , 1495px 1152px #FFF , 1173px 1508px #FFF , 648px 1368px #FFF , 1949px 1874px #FFF , 947px 1904px #FFF , 1732px 25px #FFF , 1868px 1064px #FFF , 1899px 986px #FFF , 1044px 906px #FFF , 462px 775px #FFF , 1535px 1629px #FFF , 903px 1595px #FFF , 1626px 1654px #FFF , 387px 1754px #FFF , 1574px 1681px #FFF , 1574px 432px #FFF , 1074px 1472px #FFF , 1932px 56px #FFF , 1282px 1634px #FFF , 1472px 1066px #FFF , 454px 430px #FFF , 1836px 1051px #FFF , 162px 154px #FFF , 1903px 1227px #FFF , 1366px 361px #FFF , 1193px 982px #FFF , 1857px 310px #FFF , 352px 1312px #FFF , 1390px 572px #FFF , 532px 308px #FFF , 1399px 1739px #FFF , 437px 1989px #FFF , 23px 1532px #FFF , 765px 399px #FFF , 1795px 1456px #FFF , 709px 126px #FFF , 88px 1041px #FFF , 648px 180px #FFF , 74px 601px #FFF , 1205px 142px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1980px 1720px #FFF , 1310px 451px #FFF , 1097px 1930px #FFF , 309px 93px #FFF , 1720px 861px #FFF , 724px 1197px #FFF , 211px 865px #FFF , 1340px 88px #FFF , 56px 650px #FFF , 1568px 391px #FFF , 1403px 1594px #FFF , 875px 1543px #FFF , 204px 597px #FFF , 887px 796px #FFF , 294px 1666px #FFF , 767px 853px #FFF , 234px 936px #FFF , 589px 499px #FFF , 1518px 165px #FFF , 868px 1726px #FFF , 1837px 1145px #FFF , 2px 984px #FFF , 1336px 1084px #FFF , 1788px 996px #FFF , 1541px 28px #FFF , 1545px 1333px #FFF , 1716px 234px #FFF , 142px 1348px #FFF , 1666px 1994px #FFF , 532px 1441px #FFF , 745px 852px #FFF , 562px 335px #FFF , 327px 206px #FFF , 1988px 1340px #FFF , 674px 1371px #FFF , 575px 647px #FFF , 1565px 1660px #FFF , 1242px 217px #FFF , 1594px 946px #FFF , 1755px 1810px #FFF , 1660px 481px #FFF , 1359px 747px #FFF , 393px 1969px #FFF , 228px 1208px #FFF , 1043px 876px #FFF , 1709px 1621px #FFF , 1914px 493px #FFF , 933px 736px #FFF , 1377px 646px #FFF , 272px 1089px #FFF , 102px 51px #FFF , 960px 1503px #FFF , 936px 1202px #FFF , 820px 53px #FFF , 1756px 372px #FFF , 92px 1032px #FFF , 1788px 1895px #FFF , 30px 836px #FFF , 1226px 706px #FFF , 1305px 1327px #FFF , 805px 1169px #FFF , 1956px 973px #FFF , 757px 1622px #FFF , 605px 1702px #FFF , 142px 1888px #FFF , 1333px 1702px #FFF , 1288px 455px #FFF , 1978px 260px #FFF , 814px 1239px #FFF , 672px 1105px #FFF , 1615px 108px #FFF , 893px 1274px #FFF , 108px 70px #FFF , 1750px 287px #FFF , 1135px 1736px #FFF , 920px 778px #FFF , 1197px 1494px #FFF , 1558px 101px #FFF , 950px 552px #FFF , 1783px 1767px #FFF , 691px 1536px #FFF , 368px 291px #FFF , 222px 279px #FFF , 855px 598px #FFF , 401px 1934px #FFF , 501px 423px #FFF , 1711px 446px #FFF , 514px 31px #FFF , 674px 1602px #FFF , 442px 1444px #FFF , 1549px 1764px #FFF , 1386px 832px #FFF , 1277px 392px #FFF , 335px 881px #FFF , 1830px 173px #FFF , 44px 1086px #FFF , 1978px 1332px #FFF , 1728px 1408px #FFF , 750px 548px #FFF , 727px 1451px #FFF , 1498px 1838px #FFF , 871px 1934px #FFF , 1275px 1072px #FFF , 1594px 1210px #FFF , 964px 1640px #FFF , 809px 150px #FFF , 1056px 1514px #FFF , 1331px 253px #FFF , 1186px 1909px #FFF , 573px 1178px #FFF , 867px 397px #FFF , 1012px 1564px #FFF , 1722px 583px #FFF , 1236px 1634px #FFF , 1726px 1661px #FFF , 639px 1760px #FFF , 153px 1907px #FFF , 1103px 560px #FFF , 977px 1651px #FFF , 1010px 1451px #FFF , 28px 1679px #FFF , 1152px 115px #FFF , 58px 1520px #FFF , 1813px 348px #FFF , 482px 293px #FFF , 1673px 70px #FFF , 1675px 594px #FFF , 144px 1809px #FFF , 428px 1672px #FFF , 56px 649px #FFF , 927px 811px #FFF , 381px 1339px #FFF , 787px 452px #FFF , 1332px 1318px #FFF , 1378px 1434px #FFF , 1916px 784px #FFF , 1758px 1517px #FFF , 197px 1227px #FFF , 56px 646px #FFF , 1062px 794px #FFF , 1900px 48px #FFF , 1751px 639px #FFF , 1264px 457px #FFF , 1913px 931px #FFF , 627px 882px #FFF , 1521px 1727px #FFF , 810px 1031px #FFF , 1504px 838px #FFF , 1446px 986px #FFF , 645px 1917px #FFF , 1253px 711px #FFF , 565px 1355px #FFF , 197px 1078px #FFF , 342px 1332px #FFF , 1233px 44px #FFF , 1977px 1030px #FFF , 1354px 1308px #FFF , 773px 565px #FFF , 1614px 770px #FFF , 1769px 903px #FFF , 265px 1837px #FFF , 1122px 788px #FFF , 494px 1299px #FFF , 1938px 567px #FFF , 786px 211px #FFF , 77px 1392px #FFF , 300px 1934px #FFF , 1026px 869px #FFF , 1530px 22px #FFF , 393px 1122px #FFF , 1169px 662px #FFF , 61px 1894px #FFF , 1694px 1171px #FFF , 1551px 1521px #FFF , 1085px 521px #FFF , 793px 1122px #FFF , 1073px 1019px #FFF , 957px 462px #FFF , 524px 1174px #FFF , 1072px 96px #FFF , 1125px 201px #FFF , 1641px 5px #FFF , 1860px 1421px #FFF , 1639px 280px #FFF , 1515px 489px #FFF , 929px 1119px #FFF , 1165px 1525px #FFF , 833px 257px #FFF , 1433px 1745px #FFF , 878px 281px #FFF , 354px 87px #FFF , 568px 508px #FFF , 457px 433px #FFF , 1171px 940px #FFF , 237px 361px #FFF , 1510px 1815px #FFF , 15px 1157px #FFF , 725px 1024px #FFF , 390px 1799px #FFF , 1795px 1251px #FFF , 48px 213px #FFF , 520px 936px #FFF , 552px 221px #FFF , 1252px 1147px #FFF , 265px 724px #FFF , 490px 1053px #FFF , 1146px 748px #FFF , 404px 850px #FFF , 611px 244px #FFF , 1409px 212px #FFF , 38px 2px #FFF , 26px 247px #FFF , 538px 1528px #FFF , 934px 1033px #FFF , 1595px 313px #FFF , 1363px 491px #FFF , 174px 858px #FFF , 1943px 546px #FFF , 940px 881px #FFF , 1217px 877px #FFF , 780px 1924px #FFF , 103px 1301px #FFF , 156px 1405px #FFF , 992px 1291px #FFF , 1559px 1093px #FFF , 372px 1568px #FFF , 1980px 1160px #FFF , 682px 1107px #FFF , 92px 927px #FFF , 229px 689px #FFF , 1475px 744px #FFF , 184px 1039px #FFF , 446px 1620px #FFF , 812px 1252px #FFF , 545px 471px #FFF , 202px 601px #FFF , 1584px 496px #FFF , 1779px 1533px #FFF , 1677px 1880px #FFF , 385px 1149px #FFF , 978px 1572px #FFF , 10px 133px #FFF , 1107px 1766px #FFF , 1832px 928px #FFF , 486px 664px #FFF , 1391px 425px #FFF , 1918px 1356px #FFF , 99px 982px #FFF , 1634px 969px #FFF , 1826px 1077px #FFF , 1543px 1387px #FFF , 677px 1001px #FFF , 952px 909px #FFF , 730px 1603px #FFF , 5px 1587px #FFF , 36px 1040px #FFF , 1294px 1228px #FFF , 660px 1762px #FFF , 498px 1178px #FFF , 503px 1530px #FFF , 1625px 825px #FFF , 1537px 1206px #FFF , 1233px 712px #FFF , 352px 400px #FFF , 324px 1147px #FFF , 1208px 299px #FFF , 1625px 1918px #FFF , 134px 1939px #FFF , 1269px 163px #FFF , 1421px 998px #FFF , 622px 981px #FFF , 686px 1364px #FFF , 248px 341px #FFF , 1911px 1790px #FFF , 1494px 437px #FFF , 1268px 1868px #FFF , 1405px 1852px #FFF , 288px 756px #FFF , 432px 69px #FFF , 521px 1388px #FFF , 229px 1318px #FFF , 693px 1115px #FFF , 5px 1782px #FFF , 148px 871px #FFF , 1545px 714px #FFF , 903px 1946px #FFF , 1886px 184px #FFF , 1768px 732px #FFF , 782px 481px #FFF , 396px 1825px #FFF , 139px 234px #FFF , 1428px 1688px #FFF , 1113px 1668px #FFF , 187px 1670px #FFF , 50px 1234px #FFF , 37px 1279px #FFF , 539px 1644px #FFF , 729px 1670px #FFF , 63px 393px #FFF , 1690px 1566px #FFF , 1485px 169px #FFF , 1583px 124px #FFF , 324px 1048px #FFF , 1747px 811px #FFF , 506px 1186px #FFF , 499px 1814px #FFF , 1107px 650px #FFF , 790px 297px #FFF , 1714px 896px #FFF , 597px 48px #FFF , 617px 169px #FFF , 859px 1301px #FFF , 1282px 459px #FFF , 1871px 626px #FFF , 1627px 1992px #FFF , 666px 743px #FFF , 154px 1128px #FFF , 384px 1803px #FFF , 103px 1723px #FFF , 1282px 1505px #FFF , 1607px 490px #FFF , 537px 58px #FFF , 1969px 1581px #FFF , 1708px 1442px #FFF , 441px 1486px #FFF , 1463px 973px #FFF , 1431px 1678px #FFF , 711px 499px #FFF , 1229px 144px #FFF , 1404px 274px #FFF , 34px 1894px #FFF , 321px 89px #FFF , 91px 1461px #FFF , 1360px 878px #FFF , 368px 154px #FFF , 96px 1564px #FFF , 992px 648px #FFF , 865px 658px #FFF , 1328px 1898px #FFF , 1475px 1951px #FFF , 1798px 1358px #FFF , 1681px 1465px #FFF , 555px 422px #FFF , 30px 1203px #FFF , 1709px 1427px #FFF , 781px 1052px #FFF , 789px 1914px #FFF , 91px 470px #FFF , 1155px 393px #FFF , 238px 1914px #FFF , 1002px 746px #FFF , 507px 1150px #FFF , 1127px 1821px #FFF , 108px 608px #FFF , 1248px 518px #FFF , 784px 1986px #FFF , 1730px 1231px #FFF , 1490px 1036px #FFF , 67px 1927px #FFF , 724px 586px #FFF , 1443px 37px #FFF , 1357px 711px #FFF , 1611px 1697px #FFF , 227px 878px #FFF , 1181px 159px #FFF , 1705px 472px #FFF , 1689px 1967px #FFF , 1103px 329px #FFF , 184px 875px #FFF , 1057px 1109px #FFF , 1385px 108px #FFF , 1865px 937px #FFF , 368px 1485px #FFF , 620px 1345px #FFF , 354px 1205px #FFF , 106px 412px #FFF , 264px 696px #FFF , 699px 80px #FFF , 1852px 1199px #FFF , 287px 674px #FFF , 1785px 1686px #FFF , 1105px 1496px #FFF , 1305px 184px #FFF , 1706px 1242px #FFF , 1665px 101px #FFF , 1950px 858px #FFF , 1930px 1605px #FFF , 1418px 1303px #FFF , 909px 1659px #FFF , 1877px 628px #FFF , 1667px 525px #FFF , 320px 1604px #FFF , 643px 335px #FFF , 1102px 10px #FFF , 1755px 1732px #FFF , 1359px 1787px #FFF , 1607px 436px #FFF , 1609px 889px #FFF , 294px 1192px #FFF , 901px 1986px #FFF , 1316px 127px #FFF , 220px 1755px #FFF , 169px 1168px #FFF , 949px 209px #FFF , 442px 358px #FFF , 1868px 1971px #FFF , 863px 188px #FFF , 1365px 377px #FFF , 722px 1088px #FFF , 597px 1759px #FFF , 96px 351px #FFF , 540px 544px #FFF , 2000px 1320px #FFF , 798px 914px #FFF , 840px 107px #FFF , 130px 112px #FFF , 314px 1149px #FFF , 121px 1715px #FFF , 852px 1549px #FFF , 1508px 399px #FFF , 1662px 1637px #FFF , 116px 1833px #FFF , 761px 1414px #FFF , 1603px 1898px #FFF , 1226px 57px #FFF , 651px 1007px #FFF , 1628px 1865px #FFF , 1482px 812px #FFF , 529px 178px #FFF , 564px 465px #FFF , 165px 1921px #FFF , 1147px 325px #FFF , 1780px 307px #FFF , 1272px 1116px #FFF , 1739px 1948px #FFF , 928px 1265px #FFF , 490px 1774px #FFF , 1218px 1731px #FFF , 1869px 344px #FFF , 142px 605px #FFF , 933px 6px #FFF , 811px 412px #FFF , 715px 181px #FFF , 1790px 1018px #FFF , 916px 1988px #FFF , 90px 1770px #FFF , 247px 1276px #FFF , 1814px 1288px #FFF , 1962px 393px #FFF , 726px 1177px #FFF , 459px 136px #FFF , 93px 1192px #FFF , 280px 873px #FFF , 1789px 1779px #FFF , 1030px 194px #FFF , 670px 1060px #FFF , 928px 864px #FFF , 338px 963px #FFF , 344px 1652px #FFF , 675px 1973px #FFF , 1495px 1152px #FFF , 1173px 1508px #FFF , 648px 1368px #FFF , 1949px 1874px #FFF , 947px 1904px #FFF , 1732px 25px #FFF , 1868px 1064px #FFF , 1899px 986px #FFF , 1044px 906px #FFF , 462px 775px #FFF , 1535px 1629px #FFF , 903px 1595px #FFF , 1626px 1654px #FFF , 387px 1754px #FFF , 1574px 1681px #FFF , 1574px 432px #FFF , 1074px 1472px #FFF , 1932px 56px #FFF , 1282px 1634px #FFF , 1472px 1066px #FFF , 454px 430px #FFF , 1836px 1051px #FFF , 162px 154px #FFF , 1903px 1227px #FFF , 1366px 361px #FFF , 1193px 982px #FFF , 1857px 310px #FFF , 352px 1312px #FFF , 1390px 572px #FFF , 532px 308px #FFF , 1399px 1739px #FFF , 437px 1989px #FFF , 23px 1532px #FFF , 765px 399px #FFF , 1795px 1456px #FFF , 709px 126px #FFF , 88px 1041px #FFF , 648px 180px #FFF , 74px 601px #FFF , 1205px 142px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 156px 199px #FFF , 1993px 1704px #FFF , 1780px 1714px #FFF , 74px 1365px #FFF , 1180px 1335px #FFF , 446px 1487px #FFF , 207px 180px #FFF , 589px 1393px #FFF , 363px 549px #FFF , 897px 1758px #FFF , 337px 1310px #FFF , 1943px 567px #FFF , 1263px 1347px #FFF , 494px 923px #FFF , 1239px 247px #FFF , 1973px 1218px #FFF , 1746px 173px #FFF , 1833px 239px #FFF , 1773px 1510px #FFF , 1004px 573px #FFF , 1407px 695px #FFF , 168px 1555px #FFF , 1347px 1642px #FFF , 1412px 1299px #FFF , 969px 1650px #FFF , 1028px 1779px #FFF , 1444px 1612px #FFF , 1471px 247px #FFF , 1966px 557px #FFF , 139px 1776px #FFF , 436px 501px #FFF , 1805px 979px #FFF , 1897px 345px #FFF , 1945px 200px #FFF , 1896px 1898px #FFF , 679px 313px #FFF , 294px 1635px #FFF , 721px 569px #FFF , 1761px 1880px #FFF , 1718px 414px #FFF , 303px 108px #FFF , 1136px 963px #FFF , 110px 1429px #FFF , 775px 1345px #FFF , 1329px 847px #FFF , 114px 147px #FFF , 1795px 1983px #FFF , 1919px 6px #FFF , 532px 1551px #FFF , 1128px 1995px #FFF , 1187px 1417px #FFF , 270px 1827px #FFF , 1347px 1030px #FFF , 1084px 986px #FFF , 1712px 88px #FFF , 1192px 244px #FFF , 17px 1151px #FFF , 1646px 617px #FFF , 96px 1976px #FFF , 944px 309px #FFF , 402px 1264px #FFF , 504px 438px #FFF , 1483px 1131px #FFF , 434px 1974px #FFF , 287px 1415px #FFF , 1567px 526px #FFF , 606px 304px #FFF , 1112px 1693px #FFF , 1609px 433px #FFF , 816px 1285px #FFF , 195px 1207px #FFF , 1226px 1731px #FFF , 1635px 347px #FFF , 1280px 1820px #FFF , 781px 1308px #FFF , 964px 1024px #FFF , 371px 1433px #FFF , 624px 1208px #FFF , 494px 632px #FFF , 1133px 134px #FFF , 1543px 676px #FFF , 1360px 942px #FFF , 784px 1773px #FFF , 777px 1916px #FFF , 1173px 1100px #FFF , 503px 1327px #FFF , 1012px 18px #FFF , 150px 1755px #FFF , 327px 1127px #FFF , 9px 24px #FFF , 1490px 280px #FFF , 1994px 4px #FFF , 653px 1574px #FFF , 287px 224px #FFF , 560px 770px #FFF , 1179px 1324px #FFF , 385px 1730px #FFF , 1827px 203px #FFF , 925px 1153px #FFF , 88px 540px #FFF , 274px 1002px #FFF , 1666px 931px #FFF , 643px 1108px #FFF , 1044px 1687px #FFF , 756px 1819px #FFF , 130px 517px #FFF , 1534px 347px #FFF , 1315px 747px #FFF , 1019px 1038px #FFF , 1541px 1697px #FFF , 61px 1864px #FFF , 1826px 55px #FFF , 70px 26px #FFF , 281px 1353px #FFF , 755px 431px #FFF , 1433px 1606px #FFF , 133px 1900px #FFF , 1506px 1560px #FFF , 849px 1512px #FFF , 819px 664px #FFF , 1136px 185px #FFF , 960px 1298px #FFF , 1307px 703px #FFF , 908px 67px #FFF , 77px 1602px #FFF , 903px 1136px #FFF , 801px 1036px #FFF , 1727px 157px #FFF , 239px 1554px #FFF , 950px 1433px #FFF , 353px 1006px #FFF , 679px 635px #FFF , 647px 975px #FFF , 1843px 54px #FFF , 1404px 93px #FFF , 293px 228px #FFF , 841px 661px #FFF , 1087px 116px #FFF , 1972px 1330px #FFF , 943px 1680px #FFF , 1203px 1705px #FFF , 1179px 456px #FFF , 709px 498px #FFF , 951px 1591px #FFF , 1420px 692px #FFF , 1842px 1910px #FFF , 1296px 1069px #FFF , 197px 1923px #FFF , 1545px 1554px #FFF , 1346px 1997px #FFF , 1680px 841px #FFF , 1669px 419px #FFF , 1341px 1739px #FFF , 1042px 1619px #FFF , 912px 915px #FFF , 1891px 840px #FFF , 1117px 359px #FFF , 530px 1529px #FFF , 864px 780px #FFF , 1139px 247px #FFF , 314px 13px #FFF , 1986px 471px #FFF , 644px 518px #FFF , 65px 1582px #FFF , 339px 1835px #FFF , 840px 1912px #FFF , 1989px 905px #FFF , 886px 450px #FFF , 451px 1384px #FFF , 943px 1603px #FFF , 1631px 1858px #FFF , 1983px 1149px #FFF , 1813px 1186px #FFF , 921px 673px #FFF , 211px 563px #FFF , 792px 1260px #FFF , 928px 898px #FFF , 528px 1919px #FFF , 1289px 1015px #FFF , 1543px 1120px #FFF , 1471px 385px #FFF , 1131px 1496px #FFF , 1372px 101px #FFF , 1372px 549px #FFF , 254px 1834px #FFF , 1090px 348px #FFF , 436px 976px #FFF , 734px 1684px #FFF , 944px 1867px #FFF , 291px 1136px #FFF , 930px 1416px #FFF , 781px 1232px #FFF , 1722px 1749px #FFF , 558px 327px #FFF , 1140px 1607px #FFF , 982px 1566px #FFF , 931px 1667px #FFF , 987px 1800px #FFF , 1824px 809px #FFF , 601px 1957px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 156px 199px #FFF , 1993px 1704px #FFF , 1780px 1714px #FFF , 74px 1365px #FFF , 1180px 1335px #FFF , 446px 1487px #FFF , 207px 180px #FFF , 589px 1393px #FFF , 363px 549px #FFF , 897px 1758px #FFF , 337px 1310px #FFF , 1943px 567px #FFF , 1263px 1347px #FFF , 494px 923px #FFF , 1239px 247px #FFF , 1973px 1218px #FFF , 1746px 173px #FFF , 1833px 239px #FFF , 1773px 1510px #FFF , 1004px 573px #FFF , 1407px 695px #FFF , 168px 1555px #FFF , 1347px 1642px #FFF , 1412px 1299px #FFF , 969px 1650px #FFF , 1028px 1779px #FFF , 1444px 1612px #FFF , 1471px 247px #FFF , 1966px 557px #FFF , 139px 1776px #FFF , 436px 501px #FFF , 1805px 979px #FFF , 1897px 345px #FFF , 1945px 200px #FFF , 1896px 1898px #FFF , 679px 313px #FFF , 294px 1635px #FFF , 721px 569px #FFF , 1761px 1880px #FFF , 1718px 414px #FFF , 303px 108px #FFF , 1136px 963px #FFF , 110px 1429px #FFF , 775px 1345px #FFF , 1329px 847px #FFF , 114px 147px #FFF , 1795px 1983px #FFF , 1919px 6px #FFF , 532px 1551px #FFF , 1128px 1995px #FFF , 1187px 1417px #FFF , 270px 1827px #FFF , 1347px 1030px #FFF , 1084px 986px #FFF , 1712px 88px #FFF , 1192px 244px #FFF , 17px 1151px #FFF , 1646px 617px #FFF , 96px 1976px #FFF , 944px 309px #FFF , 402px 1264px #FFF , 504px 438px #FFF , 1483px 1131px #FFF , 434px 1974px #FFF , 287px 1415px #FFF , 1567px 526px #FFF , 606px 304px #FFF , 1112px 1693px #FFF , 1609px 433px #FFF , 816px 1285px #FFF , 195px 1207px #FFF , 1226px 1731px #FFF , 1635px 347px #FFF , 1280px 1820px #FFF , 781px 1308px #FFF , 964px 1024px #FFF , 371px 1433px #FFF , 624px 1208px #FFF , 494px 632px #FFF , 1133px 134px #FFF , 1543px 676px #FFF , 1360px 942px #FFF , 784px 1773px #FFF , 777px 1916px #FFF , 1173px 1100px #FFF , 503px 1327px #FFF , 1012px 18px #FFF , 150px 1755px #FFF , 327px 1127px #FFF , 9px 24px #FFF , 1490px 280px #FFF , 1994px 4px #FFF , 653px 1574px #FFF , 287px 224px #FFF , 560px 770px #FFF , 1179px 1324px #FFF , 385px 1730px #FFF , 1827px 203px #FFF , 925px 1153px #FFF , 88px 540px #FFF , 274px 1002px #FFF , 1666px 931px #FFF , 643px 1108px #FFF , 1044px 1687px #FFF , 756px 1819px #FFF , 130px 517px #FFF , 1534px 347px #FFF , 1315px 747px #FFF , 1019px 1038px #FFF , 1541px 1697px #FFF , 61px 1864px #FFF , 1826px 55px #FFF , 70px 26px #FFF , 281px 1353px #FFF , 755px 431px #FFF , 1433px 1606px #FFF , 133px 1900px #FFF , 1506px 1560px #FFF , 849px 1512px #FFF , 819px 664px #FFF , 1136px 185px #FFF , 960px 1298px #FFF , 1307px 703px #FFF , 908px 67px #FFF , 77px 1602px #FFF , 903px 1136px #FFF , 801px 1036px #FFF , 1727px 157px #FFF , 239px 1554px #FFF , 950px 1433px #FFF , 353px 1006px #FFF , 679px 635px #FFF , 647px 975px #FFF , 1843px 54px #FFF , 1404px 93px #FFF , 293px 228px #FFF , 841px 661px #FFF , 1087px 116px #FFF , 1972px 1330px #FFF , 943px 1680px #FFF , 1203px 1705px #FFF , 1179px 456px #FFF , 709px 498px #FFF , 951px 1591px #FFF , 1420px 692px #FFF , 1842px 1910px #FFF , 1296px 1069px #FFF , 197px 1923px #FFF , 1545px 1554px #FFF , 1346px 1997px #FFF , 1680px 841px #FFF , 1669px 419px #FFF , 1341px 1739px #FFF , 1042px 1619px #FFF , 912px 915px #FFF , 1891px 840px #FFF , 1117px 359px #FFF , 530px 1529px #FFF , 864px 780px #FFF , 1139px 247px #FFF , 314px 13px #FFF , 1986px 471px #FFF , 644px 518px #FFF , 65px 1582px #FFF , 339px 1835px #FFF , 840px 1912px #FFF , 1989px 905px #FFF , 886px 450px #FFF , 451px 1384px #FFF , 943px 1603px #FFF , 1631px 1858px #FFF , 1983px 1149px #FFF , 1813px 1186px #FFF , 921px 673px #FFF , 211px 563px #FFF , 792px 1260px #FFF , 928px 898px #FFF , 528px 1919px #FFF , 1289px 1015px #FFF , 1543px 1120px #FFF , 1471px 385px #FFF , 1131px 1496px #FFF , 1372px 101px #FFF , 1372px 549px #FFF , 254px 1834px #FFF , 1090px 348px #FFF , 436px 976px #FFF , 734px 1684px #FFF , 944px 1867px #FFF , 291px 1136px #FFF , 930px 1416px #FFF , 781px 1232px #FFF , 1722px 1749px #FFF , 558px 327px #FFF , 1140px 1607px #FFF , 982px 1566px #FFF , 931px 1667px #FFF , 987px 1800px #FFF , 1824px 809px #FFF , 601px 1957px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 597px 986px #FFF , 386px 938px #FFF , 1546px 1448px #FFF , 1553px 910px #FFF , 708px 1853px #FFF , 466px 1977px #FFF , 1361px 1259px #FFF , 1525px 611px #FFF , 705px 642px #FFF , 1892px 1341px #FFF , 235px 1388px #FFF , 451px 613px #FFF , 173px 398px #FFF , 342px 1533px #FFF , 1961px 358px #FFF , 1437px 743px #FFF , 1223px 1037px #FFF , 1097px 1903px #FFF , 122px 426px #FFF , 847px 367px #FFF , 1774px 527px #FFF , 1803px 1092px #FFF , 1591px 584px #FFF , 873px 1751px #FFF , 252px 851px #FFF , 554px 826px #FFF , 901px 1147px #FFF , 715px 1487px #FFF , 1988px 565px #FFF , 802px 1679px #FFF , 1597px 137px #FFF , 263px 1975px #FFF , 1937px 1241px #FFF , 1213px 1534px #FFF , 1761px 1589px #FFF , 1681px 1201px #FFF , 906px 1193px #FFF , 155px 209px #FFF , 514px 1175px #FFF , 758px 1156px #FFF , 1120px 1240px #FFF , 1312px 154px #FFF , 1398px 1317px #FFF , 456px 246px #FFF , 1465px 373px #FFF , 980px 504px #FFF , 1439px 1769px #FFF , 953px 962px #FFF , 1807px 1852px #FFF , 88px 984px #FFF , 7px 175px #FFF , 1229px 819px #FFF , 790px 186px #FFF , 1023px 778px #FFF , 1714px 727px #FFF , 1635px 463px #FFF , 1184px 1389px #FFF , 902px 1px #FFF , 1109px 682px #FFF , 1849px 770px #FFF , 1348px 851px #FFF , 787px 1505px #FFF , 633px 1575px #FFF , 1700px 1323px #FFF , 706px 555px #FFF , 1995px 478px #FFF , 1617px 1337px #FFF , 447px 845px #FFF , 26px 1941px #FFF , 1600px 18px #FFF , 458px 819px #FFF , 297px 602px #FFF , 773px 760px #FFF , 1799px 14px #FFF , 1745px 1108px #FFF , 1044px 1907px #FFF , 1907px 470px #FFF , 1864px 1468px #FFF , 1781px 1658px #FFF , 1546px 34px #FFF , 1071px 1397px #FFF , 1404px 1868px #FFF , 106px 425px #FFF , 1496px 905px #FFF , 150px 307px #FFF , 1393px 1559px #FFF , 1553px 756px #FFF , 489px 503px #FFF , 1552px 1280px #FFF , 1854px 1257px #FFF , 486px 739px #FFF , 1757px 1578px #FFF , 1748px 1776px #FFF , 1854px 857px #FFF , 351px 1303px #FFF , 1541px 510px #FFF , 170px 1185px #FFF , 1971px 1811px #FFF , 1848px 335px #FFF , 1426px 1162px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 597px 986px #FFF , 386px 938px #FFF , 1546px 1448px #FFF , 1553px 910px #FFF , 708px 1853px #FFF , 466px 1977px #FFF , 1361px 1259px #FFF , 1525px 611px #FFF , 705px 642px #FFF , 1892px 1341px #FFF , 235px 1388px #FFF , 451px 613px #FFF , 173px 398px #FFF , 342px 1533px #FFF , 1961px 358px #FFF , 1437px 743px #FFF , 1223px 1037px #FFF , 1097px 1903px #FFF , 122px 426px #FFF , 847px 367px #FFF , 1774px 527px #FFF , 1803px 1092px #FFF , 1591px 584px #FFF , 873px 1751px #FFF , 252px 851px #FFF , 554px 826px #FFF , 901px 1147px #FFF , 715px 1487px #FFF , 1988px 565px #FFF , 802px 1679px #FFF , 1597px 137px #FFF , 263px 1975px #FFF , 1937px 1241px #FFF , 1213px 1534px #FFF , 1761px 1589px #FFF , 1681px 1201px #FFF , 906px 1193px #FFF , 155px 209px #FFF , 514px 1175px #FFF , 758px 1156px #FFF , 1120px 1240px #FFF , 1312px 154px #FFF , 1398px 1317px #FFF , 456px 246px #FFF , 1465px 373px #FFF , 980px 504px #FFF , 1439px 1769px #FFF , 953px 962px #FFF , 1807px 1852px #FFF , 88px 984px #FFF , 7px 175px #FFF , 1229px 819px #FFF , 790px 186px #FFF , 1023px 778px #FFF , 1714px 727px #FFF , 1635px 463px #FFF , 1184px 1389px #FFF , 902px 1px #FFF , 1109px 682px #FFF , 1849px 770px #FFF , 1348px 851px #FFF , 787px 1505px #FFF , 633px 1575px #FFF , 1700px 1323px #FFF , 706px 555px #FFF , 1995px 478px #FFF , 1617px 1337px #FFF , 447px 845px #FFF , 26px 1941px #FFF , 1600px 18px #FFF , 458px 819px #FFF , 297px 602px #FFF , 773px 760px #FFF , 1799px 14px #FFF , 1745px 1108px #FFF , 1044px 1907px #FFF , 1907px 470px #FFF , 1864px 1468px #FFF , 1781px 1658px #FFF , 1546px 34px #FFF , 1071px 1397px #FFF , 1404px 1868px #FFF , 106px 425px #FFF , 1496px 905px #FFF , 150px 307px #FFF , 1393px 1559px #FFF , 1553px 756px #FFF , 489px 503px #FFF , 1552px 1280px #FFF , 1854px 1257px #FFF , 486px 739px #FFF , 1757px 1578px #FFF , 1748px 1776px #FFF , 1854px 857px #FFF , 351px 1303px #FFF , 1541px 510px #FFF , 170px 1185px #FFF , 1971px 1811px #FFF , 1848px 335px #FFF , 1426px 1162px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*# sourceMappingURL=homepage.css.map */
