h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main header {
  z-index: 5;
  margin-top: 15px;
}
main header h1 {
  font-family: "Protest Guerrilla", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 13px;
}
main header h1 span {
  font-size: 5.5rem;
  color: orange;
  letter-spacing: 5px;
  margin-bottom: -15px;
}
@media screen and (min-width: 550px) {
  main header h1 span {
    font-size: 7rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 span {
    font-size: 6.2rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 550px) {
  main header h1 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1000px) {
  main header h1 {
    font-size: 6.2rem;
    display: block;
  }
}
main header p {
  font-size: 1.05rem;
  text-align: center;
  margin-top: 10px;
  background: -webkit-linear-gradient(white, #8199b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 550px) {
  main header p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1000px) {
  main header p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  main header {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1920px) {
  main header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
main .opts-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 5;
  margin-top: 20px;
}
main .opts-container .btn {
  text-align: center;
  border: 3px solid rgba(4, 149, 245, 0);
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to left, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 1.55rem;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
main .opts-container .btn:hover {
  box-shadow: 0 0 10px 0 #0068d7 inset, 0 0 20px 2px #007dd7, 0 0 60px 1px rgba(143, 202, 233, 0.778), 0 0 40px 2px rgba(255, 255, 255, 0.737);
  border: 3px solid #00b7d7;
}
main .opts-container .btn.btn-signup {
  background: linear-gradient(rgb(33, 37, 51), rgb(33, 37, 51)) padding-box, linear-gradient(to right, rgb(4, 149, 245), rgb(213, 241, 241)) border-box;
}
@media screen and (min-width: 550px) {
  main .opts-container .btn {
    padding: 10px 30px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 550px) {
  main .opts-container {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1000px) {
  main .opts-container {
    margin-top: 0;
    flex-direction: row;
    gap: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/**********************
* * * IMAGES that goes out of bound from viewpoint
***********************/
.external-images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.external-images #milky-way {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 550px;
  z-index: -60;
}
.external-images #galaxy-sky {
  position: absolute;
  bottom: -10px;
  left: -30px;
  width: 540px;
  z-index: -60;
  transform: rotate(47deg);
}
.external-images #galaxy-sky2 {
  position: absolute;
  bottom: -296px;
  left: 354px;
  width: 540px;
  z-index: -60;
  transform: rotate(41deg);
}
.external-images #cube {
  cursor: pointer;
  position: absolute;
  right: 35px;
  bottom: 85px;
  width: 125px;
  z-index: 1;
  animation: floating 10s infinite ease-in-out;
  -webkit-animation: floating 10s infinite ease-in-out;
}
.external-images #cube:hover, .external-images #cube:active {
  animation-play-state: paused; /* Pause the animation on hover */
  animation: rotate360 1s infinite linear; /* Replace the existing animation with a continuous 360-degree rotation */
}
@media screen and (min-width: 550px) {
  .external-images #cube {
    width: 150px;
    right: 55px;
    bottom: 100px;
  }
}
.external-images #radio {
  cursor: pointer;
  position: absolute;
  left: -15px;
  bottom: 170px;
  width: 210px;
  z-index: 1;
  animation: floating2 15s infinite ease-in-out;
  -webkit-animation: floating2 15s infinite ease-in-out;
}
@media screen and (min-width: 550px) {
  .external-images #radio {
    left: 60px;
    bottom: 230px;
    width: 230px;
  }
}
.external-images #earth {
  position: absolute;
  left: 50%;
  bottom: -460px;
  width: 700px;
  height: 700px;
  z-index: -10;
  background: url("../images/earth-blue.webp");
  border-radius: 50%;
  background-size: 1000px;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3), 0 0 60px 20px #fff, 0 0 100px 40px #0ff, 0 0 140px 60px rgb(98, 0, 255); /* outer cyan */
  animation: rotate 75s infinite linear;
  -webkit-animation: rotate 75s infinite linear;
  transform: translateX(-50%) rotate(20deg);
}
@media screen and (min-width: 550px) {
  .external-images #earth {
    left: -50px;
    transform: rotate(20deg);
  }
}
.external-images #lightbulb1 {
  display: none;
  position: absolute;
  width: 150px;
  bottom: 170px;
  right: 100px;
  z-index: -11;
  box-shadow: 0 0 60px 20px #fff, 0 0 100px 40px rgb(0, 225, 255), 0 0 140px 40px rgb(98, 0, 255);
  transform: rotate(-25deg);
}
@media screen and (min-width: 550px) {
  .external-images #lightbulb1 {
    display: block;
  }
}
.external-images #lightbulb2 {
  display: none;
  position: absolute;
  bottom: -25px;
  right: -10px;
  width: 113px;
  z-index: -15;
  box-shadow: 0 0 60px 10px #fff, 0 0 130px 40px rgb(0, 225, 255), 0 0 800px 70px rgb(42, 0, 255), 0 0 1000px 60px rgb(76, 0, 255);
  transform: rotate(334deg);
}
@media screen and (min-width: 550px) {
  .external-images #lightbulb2 {
    display: block;
  }
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px) rotate(20deg); /* Initial position */
  }
  30% {
    transform: translate(0, 25px) rotate(30deg); /* Tilt right */
  }
  50% {
    transform: translate(0, 0px) rotate(20deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(15deg); /* Tilt left bit */
  }
  100% {
    transform: translate(0, 0px) rotate(20deg); /* Back to initial position */
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, 0px) rotate(-10deg); /* Initial position */
  }
  50% {
    transform: translate(0, -35px) rotate(15deg); /* Tilt left bit */
  }
  80% {
    transform: translate(0, 10px) rotate(-15deg); /* Back to initial position */
  }
  100% {
    transform: translate(0, 0px) rotate(-10deg); /* Back to initial position */
  }
}
@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*******************/
/*****  STARS
/*******************/
body {
  overflow: hidden;
}

.galaxy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #010d1b 0%, #090a0f 100%);
  overflow: hidden;
  pointer-events: none;
  z-index: -100;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1407px 594px #FFF , 858px 1238px #FFF , 461px 1134px #FFF , 911px 352px #FFF , 303px 391px #FFF , 591px 269px #FFF , 1373px 948px #FFF , 525px 1383px #FFF , 640px 144px #FFF , 692px 4px #FFF , 1120px 647px #FFF , 1422px 406px #FFF , 706px 1069px #FFF , 167px 1073px #FFF , 100px 453px #FFF , 1225px 595px #FFF , 1229px 767px #FFF , 1455px 1445px #FFF , 1318px 1088px #FFF , 582px 1249px #FFF , 624px 95px #FFF , 960px 514px #FFF , 900px 1392px #FFF , 46px 13px #FFF , 201px 220px #FFF , 302px 1132px #FFF , 1076px 689px #FFF , 1207px 242px #FFF , 1214px 67px #FFF , 123px 1030px #FFF , 1450px 131px #FFF , 562px 1399px #FFF , 174px 301px #FFF , 133px 362px #FFF , 1270px 1052px #FFF , 99px 778px #FFF , 324px 1340px #FFF , 210px 1484px #FFF , 946px 239px #FFF , 241px 727px #FFF , 1237px 187px #FFF , 93px 256px #FFF , 58px 753px #FFF , 48px 1307px #FFF , 644px 1177px #FFF , 493px 58px #FFF , 74px 1181px #FFF , 1026px 166px #FFF , 1211px 640px #FFF , 91px 628px #FFF , 440px 932px #FFF , 1447px 408px #FFF , 1426px 1047px #FFF , 148px 929px #FFF , 901px 575px #FFF , 788px 436px #FFF , 184px 366px #FFF , 890px 539px #FFF , 1157px 72px #FFF , 300px 759px #FFF , 261px 459px #FFF , 224px 855px #FFF , 1432px 1339px #FFF , 37px 1424px #FFF , 93px 162px #FFF , 1473px 296px #FFF , 678px 1116px #FFF , 576px 908px #FFF , 778px 287px #FFF , 705px 1494px #FFF , 880px 839px #FFF , 112px 570px #FFF , 1052px 313px #FFF , 1131px 1436px #FFF , 1078px 1121px #FFF , 102px 1362px #FFF , 947px 641px #FFF , 1434px 552px #FFF , 132px 1465px #FFF , 205px 1413px #FFF , 775px 204px #FFF , 855px 928px #FFF , 216px 375px #FFF , 1150px 174px #FFF , 583px 1031px #FFF , 21px 1037px #FFF , 731px 143px #FFF , 193px 1168px #FFF , 33px 8px #FFF , 1103px 1494px #FFF , 1310px 1317px #FFF , 1469px 531px #FFF , 908px 919px #FFF , 479px 1412px #FFF , 1105px 823px #FFF , 94px 475px #FFF , 249px 1224px #FFF , 1070px 343px #FFF , 1182px 587px #FFF , 776px 41px #FFF , 1161px 563px #FFF , 1127px 760px #FFF , 1007px 340px #FFF , 169px 827px #FFF , 1498px 723px #FFF , 205px 459px #FFF , 553px 276px #FFF , 319px 189px #FFF , 898px 628px #FFF , 1301px 377px #FFF , 188px 1034px #FFF , 1389px 759px #FFF , 28px 1370px #FFF , 1352px 260px #FFF , 200px 240px #FFF , 784px 843px #FFF , 488px 955px #FFF , 1027px 675px #FFF , 893px 165px #FFF , 641px 769px #FFF , 1422px 437px #FFF , 1284px 694px #FFF , 751px 463px #FFF , 1180px 899px #FFF , 727px 341px #FFF , 518px 916px #FFF , 1107px 1350px #FFF , 846px 1101px #FFF , 1383px 1134px #FFF , 490px 1011px #FFF , 1219px 1226px #FFF , 732px 1388px #FFF , 639px 571px #FFF , 1131px 477px #FFF , 480px 211px #FFF , 919px 261px #FFF , 263px 984px #FFF , 265px 1180px #FFF , 311px 714px #FFF , 461px 1383px #FFF , 1324px 212px #FFF , 1289px 739px #FFF , 519px 863px #FFF , 1122px 763px #FFF , 691px 595px #FFF , 789px 999px #FFF , 747px 1364px #FFF , 525px 276px #FFF , 702px 261px #FFF , 1383px 1365px #FFF , 337px 938px #FFF , 542px 946px #FFF , 1132px 1355px #FFF , 300px 753px #FFF , 1267px 1314px #FFF , 526px 1123px #FFF , 93px 1046px #FFF , 164px 1208px #FFF , 466px 1296px #FFF , 455px 42px #FFF , 611px 560px #FFF , 368px 66px #FFF , 176px 970px #FFF , 211px 678px #FFF , 831px 2px #FFF , 415px 1213px #FFF , 584px 1324px #FFF , 905px 583px #FFF , 733px 1370px #FFF , 626px 522px #FFF , 171px 1047px #FFF , 834px 3px #FFF , 159px 235px #FFF , 78px 381px #FFF , 1061px 210px #FFF , 174px 1165px #FFF , 571px 521px #FFF , 804px 762px #FFF , 301px 966px #FFF , 1336px 114px #FFF , 1090px 393px #FFF , 603px 1210px #FFF , 1035px 898px #FFF , 1336px 934px #FFF , 844px 353px #FFF , 1402px 887px #FFF , 774px 1195px #FFF , 1383px 1321px #FFF , 1016px 58px #FFF , 806px 1181px #FFF , 543px 1312px #FFF , 1423px 1208px #FFF , 1054px 1221px #FFF , 1192px 322px #FFF , 1171px 1165px #FFF , 896px 136px #FFF , 1249px 106px #FFF , 518px 388px #FFF , 311px 920px #FFF , 1082px 711px #FFF , 1374px 69px #FFF , 815px 866px #FFF , 976px 1064px #FFF , 1282px 1243px #FFF , 925px 173px #FFF , 1233px 1424px #FFF , 1125px 983px #FFF , 1287px 318px #FFF , 1462px 1149px #FFF , 439px 303px #FFF , 1010px 815px #FFF , 1017px 358px #FFF , 197px 1172px #FFF , 421px 483px #FFF , 430px 711px #FFF , 783px 250px #FFF , 1250px 1417px #FFF , 243px 1065px #FFF , 1475px 273px #FFF , 371px 1371px #FFF , 621px 1280px #FFF , 1038px 1456px #FFF , 621px 1498px #FFF , 1015px 844px #FFF , 313px 837px #FFF , 244px 551px #FFF , 494px 1355px #FFF , 174px 122px #FFF , 458px 58px #FFF , 720px 1020px #FFF , 920px 105px #FFF , 469px 328px #FFF , 1041px 626px #FFF , 1319px 987px #FFF , 861px 228px #FFF , 1119px 105px #FFF , 636px 898px #FFF , 337px 1498px #FFF , 572px 499px #FFF , 1222px 1226px #FFF , 1441px 464px #FFF , 67px 497px #FFF , 991px 588px #FFF , 945px 1485px #FFF , 1160px 1474px #FFF , 926px 927px #FFF , 1400px 1353px #FFF , 1003px 850px #FFF , 1482px 634px #FFF , 1283px 854px #FFF , 55px 1066px #FFF , 933px 123px #FFF , 171px 38px #FFF , 1259px 765px #FFF , 293px 612px #FFF , 395px 134px #FFF , 34px 569px #FFF , 1494px 693px #FFF , 70px 713px #FFF , 233px 72px #FFF , 1117px 359px #FFF , 965px 1023px #FFF , 230px 1231px #FFF , 861px 1079px #FFF , 904px 479px #FFF , 1258px 1225px #FFF , 639px 812px #FFF , 1016px 1451px #FFF , 1463px 247px #FFF , 451px 487px #FFF , 1055px 1179px #FFF , 1433px 911px #FFF , 459px 1297px #FFF , 1031px 75px #FFF , 464px 348px #FFF , 180px 1270px #FFF , 1171px 1054px #FFF , 1208px 1444px #FFF , 577px 864px #FFF , 247px 1211px #FFF , 680px 840px #FFF , 636px 335px #FFF , 958px 775px #FFF , 183px 551px #FFF , 492px 85px #FFF , 729px 1063px #FFF , 762px 274px #FFF , 1419px 1195px #FFF , 440px 266px #FFF , 628px 244px #FFF , 1281px 1477px #FFF , 30px 762px #FFF , 1277px 619px #FFF , 1199px 1183px #FFF , 1356px 1377px #FFF , 880px 736px #FFF , 178px 597px #FFF , 598px 391px #FFF , 811px 187px #FFF , 851px 284px #FFF , 174px 218px #FFF , 215px 923px #FFF , 170px 750px #FFF , 274px 1274px #FFF , 637px 999px #FFF , 1356px 403px #FFF , 1404px 1222px #FFF , 978px 245px #FFF , 344px 105px #FFF , 1066px 723px #FFF , 258px 567px #FFF , 980px 821px #FFF , 287px 59px #FFF , 143px 651px #FFF , 1288px 979px #FFF , 1201px 1008px #FFF , 1430px 1233px #FFF , 839px 297px #FFF , 873px 636px #FFF , 895px 1167px #FFF , 161px 1052px #FFF , 278px 1123px #FFF , 597px 753px #FFF , 319px 644px #FFF , 90px 1346px #FFF , 429px 1356px #FFF , 330px 1140px #FFF , 1235px 579px #FFF , 631px 290px #FFF , 561px 700px #FFF , 71px 820px #FFF , 456px 1411px #FFF , 1333px 1142px #FFF , 284px 1249px #FFF , 305px 538px #FFF , 289px 586px #FFF , 1494px 1293px #FFF , 118px 378px #FFF , 273px 1303px #FFF , 497px 52px #FFF , 1382px 364px #FFF , 396px 24px #FFF , 357px 1487px #FFF , 467px 887px #FFF , 971px 1283px #FFF , 1443px 1188px #FFF , 704px 912px #FFF , 1287px 1285px #FFF , 798px 795px #FFF , 910px 226px #FFF , 1306px 123px #FFF , 744px 1074px #FFF , 207px 633px #FFF , 1003px 12px #FFF , 840px 162px #FFF , 1421px 565px #FFF , 1286px 1160px #FFF , 1342px 502px #FFF , 308px 853px #FFF , 115px 278px #FFF , 1167px 1285px #FFF , 1005px 1345px #FFF , 1450px 1334px #FFF , 1264px 34px #FFF , 697px 431px #FFF , 531px 1402px #FFF , 1022px 764px #FFF , 1311px 1192px #FFF , 372px 62px #FFF , 1456px 1487px #FFF , 198px 589px #FFF , 320px 998px #FFF , 1008px 298px #FFF , 1441px 417px #FFF , 1432px 131px #FFF , 1343px 734px #FFF , 629px 222px #FFF , 1465px 884px #FFF , 1354px 277px #FFF , 972px 1357px #FFF , 1002px 803px #FFF , 1451px 370px #FFF , 172px 878px #FFF , 59px 683px #FFF , 1138px 489px #FFF , 128px 791px #FFF , 629px 267px #FFF , 743px 895px #FFF , 1492px 1023px #FFF , 491px 480px #FFF , 75px 742px #FFF , 958px 706px #FFF , 535px 622px #FFF , 644px 454px #FFF , 1px 992px #FFF , 353px 746px #FFF , 1233px 814px #FFF , 733px 256px #FFF , 1255px 1475px #FFF , 1066px 1391px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1407px 594px #FFF , 858px 1238px #FFF , 461px 1134px #FFF , 911px 352px #FFF , 303px 391px #FFF , 591px 269px #FFF , 1373px 948px #FFF , 525px 1383px #FFF , 640px 144px #FFF , 692px 4px #FFF , 1120px 647px #FFF , 1422px 406px #FFF , 706px 1069px #FFF , 167px 1073px #FFF , 100px 453px #FFF , 1225px 595px #FFF , 1229px 767px #FFF , 1455px 1445px #FFF , 1318px 1088px #FFF , 582px 1249px #FFF , 624px 95px #FFF , 960px 514px #FFF , 900px 1392px #FFF , 46px 13px #FFF , 201px 220px #FFF , 302px 1132px #FFF , 1076px 689px #FFF , 1207px 242px #FFF , 1214px 67px #FFF , 123px 1030px #FFF , 1450px 131px #FFF , 562px 1399px #FFF , 174px 301px #FFF , 133px 362px #FFF , 1270px 1052px #FFF , 99px 778px #FFF , 324px 1340px #FFF , 210px 1484px #FFF , 946px 239px #FFF , 241px 727px #FFF , 1237px 187px #FFF , 93px 256px #FFF , 58px 753px #FFF , 48px 1307px #FFF , 644px 1177px #FFF , 493px 58px #FFF , 74px 1181px #FFF , 1026px 166px #FFF , 1211px 640px #FFF , 91px 628px #FFF , 440px 932px #FFF , 1447px 408px #FFF , 1426px 1047px #FFF , 148px 929px #FFF , 901px 575px #FFF , 788px 436px #FFF , 184px 366px #FFF , 890px 539px #FFF , 1157px 72px #FFF , 300px 759px #FFF , 261px 459px #FFF , 224px 855px #FFF , 1432px 1339px #FFF , 37px 1424px #FFF , 93px 162px #FFF , 1473px 296px #FFF , 678px 1116px #FFF , 576px 908px #FFF , 778px 287px #FFF , 705px 1494px #FFF , 880px 839px #FFF , 112px 570px #FFF , 1052px 313px #FFF , 1131px 1436px #FFF , 1078px 1121px #FFF , 102px 1362px #FFF , 947px 641px #FFF , 1434px 552px #FFF , 132px 1465px #FFF , 205px 1413px #FFF , 775px 204px #FFF , 855px 928px #FFF , 216px 375px #FFF , 1150px 174px #FFF , 583px 1031px #FFF , 21px 1037px #FFF , 731px 143px #FFF , 193px 1168px #FFF , 33px 8px #FFF , 1103px 1494px #FFF , 1310px 1317px #FFF , 1469px 531px #FFF , 908px 919px #FFF , 479px 1412px #FFF , 1105px 823px #FFF , 94px 475px #FFF , 249px 1224px #FFF , 1070px 343px #FFF , 1182px 587px #FFF , 776px 41px #FFF , 1161px 563px #FFF , 1127px 760px #FFF , 1007px 340px #FFF , 169px 827px #FFF , 1498px 723px #FFF , 205px 459px #FFF , 553px 276px #FFF , 319px 189px #FFF , 898px 628px #FFF , 1301px 377px #FFF , 188px 1034px #FFF , 1389px 759px #FFF , 28px 1370px #FFF , 1352px 260px #FFF , 200px 240px #FFF , 784px 843px #FFF , 488px 955px #FFF , 1027px 675px #FFF , 893px 165px #FFF , 641px 769px #FFF , 1422px 437px #FFF , 1284px 694px #FFF , 751px 463px #FFF , 1180px 899px #FFF , 727px 341px #FFF , 518px 916px #FFF , 1107px 1350px #FFF , 846px 1101px #FFF , 1383px 1134px #FFF , 490px 1011px #FFF , 1219px 1226px #FFF , 732px 1388px #FFF , 639px 571px #FFF , 1131px 477px #FFF , 480px 211px #FFF , 919px 261px #FFF , 263px 984px #FFF , 265px 1180px #FFF , 311px 714px #FFF , 461px 1383px #FFF , 1324px 212px #FFF , 1289px 739px #FFF , 519px 863px #FFF , 1122px 763px #FFF , 691px 595px #FFF , 789px 999px #FFF , 747px 1364px #FFF , 525px 276px #FFF , 702px 261px #FFF , 1383px 1365px #FFF , 337px 938px #FFF , 542px 946px #FFF , 1132px 1355px #FFF , 300px 753px #FFF , 1267px 1314px #FFF , 526px 1123px #FFF , 93px 1046px #FFF , 164px 1208px #FFF , 466px 1296px #FFF , 455px 42px #FFF , 611px 560px #FFF , 368px 66px #FFF , 176px 970px #FFF , 211px 678px #FFF , 831px 2px #FFF , 415px 1213px #FFF , 584px 1324px #FFF , 905px 583px #FFF , 733px 1370px #FFF , 626px 522px #FFF , 171px 1047px #FFF , 834px 3px #FFF , 159px 235px #FFF , 78px 381px #FFF , 1061px 210px #FFF , 174px 1165px #FFF , 571px 521px #FFF , 804px 762px #FFF , 301px 966px #FFF , 1336px 114px #FFF , 1090px 393px #FFF , 603px 1210px #FFF , 1035px 898px #FFF , 1336px 934px #FFF , 844px 353px #FFF , 1402px 887px #FFF , 774px 1195px #FFF , 1383px 1321px #FFF , 1016px 58px #FFF , 806px 1181px #FFF , 543px 1312px #FFF , 1423px 1208px #FFF , 1054px 1221px #FFF , 1192px 322px #FFF , 1171px 1165px #FFF , 896px 136px #FFF , 1249px 106px #FFF , 518px 388px #FFF , 311px 920px #FFF , 1082px 711px #FFF , 1374px 69px #FFF , 815px 866px #FFF , 976px 1064px #FFF , 1282px 1243px #FFF , 925px 173px #FFF , 1233px 1424px #FFF , 1125px 983px #FFF , 1287px 318px #FFF , 1462px 1149px #FFF , 439px 303px #FFF , 1010px 815px #FFF , 1017px 358px #FFF , 197px 1172px #FFF , 421px 483px #FFF , 430px 711px #FFF , 783px 250px #FFF , 1250px 1417px #FFF , 243px 1065px #FFF , 1475px 273px #FFF , 371px 1371px #FFF , 621px 1280px #FFF , 1038px 1456px #FFF , 621px 1498px #FFF , 1015px 844px #FFF , 313px 837px #FFF , 244px 551px #FFF , 494px 1355px #FFF , 174px 122px #FFF , 458px 58px #FFF , 720px 1020px #FFF , 920px 105px #FFF , 469px 328px #FFF , 1041px 626px #FFF , 1319px 987px #FFF , 861px 228px #FFF , 1119px 105px #FFF , 636px 898px #FFF , 337px 1498px #FFF , 572px 499px #FFF , 1222px 1226px #FFF , 1441px 464px #FFF , 67px 497px #FFF , 991px 588px #FFF , 945px 1485px #FFF , 1160px 1474px #FFF , 926px 927px #FFF , 1400px 1353px #FFF , 1003px 850px #FFF , 1482px 634px #FFF , 1283px 854px #FFF , 55px 1066px #FFF , 933px 123px #FFF , 171px 38px #FFF , 1259px 765px #FFF , 293px 612px #FFF , 395px 134px #FFF , 34px 569px #FFF , 1494px 693px #FFF , 70px 713px #FFF , 233px 72px #FFF , 1117px 359px #FFF , 965px 1023px #FFF , 230px 1231px #FFF , 861px 1079px #FFF , 904px 479px #FFF , 1258px 1225px #FFF , 639px 812px #FFF , 1016px 1451px #FFF , 1463px 247px #FFF , 451px 487px #FFF , 1055px 1179px #FFF , 1433px 911px #FFF , 459px 1297px #FFF , 1031px 75px #FFF , 464px 348px #FFF , 180px 1270px #FFF , 1171px 1054px #FFF , 1208px 1444px #FFF , 577px 864px #FFF , 247px 1211px #FFF , 680px 840px #FFF , 636px 335px #FFF , 958px 775px #FFF , 183px 551px #FFF , 492px 85px #FFF , 729px 1063px #FFF , 762px 274px #FFF , 1419px 1195px #FFF , 440px 266px #FFF , 628px 244px #FFF , 1281px 1477px #FFF , 30px 762px #FFF , 1277px 619px #FFF , 1199px 1183px #FFF , 1356px 1377px #FFF , 880px 736px #FFF , 178px 597px #FFF , 598px 391px #FFF , 811px 187px #FFF , 851px 284px #FFF , 174px 218px #FFF , 215px 923px #FFF , 170px 750px #FFF , 274px 1274px #FFF , 637px 999px #FFF , 1356px 403px #FFF , 1404px 1222px #FFF , 978px 245px #FFF , 344px 105px #FFF , 1066px 723px #FFF , 258px 567px #FFF , 980px 821px #FFF , 287px 59px #FFF , 143px 651px #FFF , 1288px 979px #FFF , 1201px 1008px #FFF , 1430px 1233px #FFF , 839px 297px #FFF , 873px 636px #FFF , 895px 1167px #FFF , 161px 1052px #FFF , 278px 1123px #FFF , 597px 753px #FFF , 319px 644px #FFF , 90px 1346px #FFF , 429px 1356px #FFF , 330px 1140px #FFF , 1235px 579px #FFF , 631px 290px #FFF , 561px 700px #FFF , 71px 820px #FFF , 456px 1411px #FFF , 1333px 1142px #FFF , 284px 1249px #FFF , 305px 538px #FFF , 289px 586px #FFF , 1494px 1293px #FFF , 118px 378px #FFF , 273px 1303px #FFF , 497px 52px #FFF , 1382px 364px #FFF , 396px 24px #FFF , 357px 1487px #FFF , 467px 887px #FFF , 971px 1283px #FFF , 1443px 1188px #FFF , 704px 912px #FFF , 1287px 1285px #FFF , 798px 795px #FFF , 910px 226px #FFF , 1306px 123px #FFF , 744px 1074px #FFF , 207px 633px #FFF , 1003px 12px #FFF , 840px 162px #FFF , 1421px 565px #FFF , 1286px 1160px #FFF , 1342px 502px #FFF , 308px 853px #FFF , 115px 278px #FFF , 1167px 1285px #FFF , 1005px 1345px #FFF , 1450px 1334px #FFF , 1264px 34px #FFF , 697px 431px #FFF , 531px 1402px #FFF , 1022px 764px #FFF , 1311px 1192px #FFF , 372px 62px #FFF , 1456px 1487px #FFF , 198px 589px #FFF , 320px 998px #FFF , 1008px 298px #FFF , 1441px 417px #FFF , 1432px 131px #FFF , 1343px 734px #FFF , 629px 222px #FFF , 1465px 884px #FFF , 1354px 277px #FFF , 972px 1357px #FFF , 1002px 803px #FFF , 1451px 370px #FFF , 172px 878px #FFF , 59px 683px #FFF , 1138px 489px #FFF , 128px 791px #FFF , 629px 267px #FFF , 743px 895px #FFF , 1492px 1023px #FFF , 491px 480px #FFF , 75px 742px #FFF , 958px 706px #FFF , 535px 622px #FFF , 644px 454px #FFF , 1px 992px #FFF , 353px 746px #FFF , 1233px 814px #FFF , 733px 256px #FFF , 1255px 1475px #FFF , 1066px 1391px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 997px 1218px #FFF , 441px 514px #FFF , 1289px 1001px #FFF , 717px 857px #FFF , 459px 52px #FFF , 1196px 1437px #FFF , 1257px 1205px #FFF , 1274px 1080px #FFF , 1297px 613px #FFF , 1021px 1291px #FFF , 1077px 77px #FFF , 233px 1240px #FFF , 267px 314px #FFF , 1135px 1475px #FFF , 808px 506px #FFF , 322px 1121px #FFF , 545px 273px #FFF , 389px 836px #FFF , 38px 112px #FFF , 657px 208px #FFF , 378px 219px #FFF , 462px 875px #FFF , 1008px 543px #FFF , 1085px 764px #FFF , 261px 1405px #FFF , 1341px 620px #FFF , 408px 934px #FFF , 1339px 884px #FFF , 1228px 1044px #FFF , 997px 1116px #FFF , 940px 1172px #FFF , 1248px 1206px #FFF , 351px 841px #FFF , 494px 86px #FFF , 1077px 254px #FFF , 1299px 755px #FFF , 1376px 494px #FFF , 1016px 514px #FFF , 15px 961px #FFF , 1082px 1194px #FFF , 349px 736px #FFF , 877px 475px #FFF , 911px 1073px #FFF , 1311px 241px #FFF , 1134px 1303px #FFF , 486px 487px #FFF , 257px 1336px #FFF , 1491px 1211px #FFF , 266px 717px #FFF , 1371px 1001px #FFF , 199px 740px #FFF , 468px 244px #FFF , 193px 1463px #FFF , 482px 731px #FFF , 582px 335px #FFF , 918px 561px #FFF , 491px 200px #FFF , 870px 1423px #FFF , 1049px 482px #FFF , 822px 1455px #FFF , 32px 481px #FFF , 1120px 210px #FFF , 588px 1062px #FFF , 224px 968px #FFF , 218px 1150px #FFF , 741px 867px #FFF , 472px 1125px #FFF , 892px 840px #FFF , 970px 66px #FFF , 1081px 1251px #FFF , 117px 344px #FFF , 692px 1311px #FFF , 872px 1025px #FFF , 1121px 451px #FFF , 892px 922px #FFF , 295px 1162px #FFF , 984px 759px #FFF , 1209px 653px #FFF , 790px 1291px #FFF , 549px 538px #FFF , 882px 979px #FFF , 1216px 1489px #FFF , 1215px 948px #FFF , 1187px 1423px #FFF , 826px 1434px #FFF , 1276px 1420px #FFF , 1277px 317px #FFF , 71px 285px #FFF , 954px 1194px #FFF , 800px 787px #FFF , 390px 219px #FFF , 684px 816px #FFF , 1345px 294px #FFF , 1444px 783px #FFF , 461px 936px #FFF , 717px 104px #FFF , 51px 1438px #FFF , 17px 616px #FFF , 1301px 1410px #FFF , 988px 1127px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 997px 1218px #FFF , 441px 514px #FFF , 1289px 1001px #FFF , 717px 857px #FFF , 459px 52px #FFF , 1196px 1437px #FFF , 1257px 1205px #FFF , 1274px 1080px #FFF , 1297px 613px #FFF , 1021px 1291px #FFF , 1077px 77px #FFF , 233px 1240px #FFF , 267px 314px #FFF , 1135px 1475px #FFF , 808px 506px #FFF , 322px 1121px #FFF , 545px 273px #FFF , 389px 836px #FFF , 38px 112px #FFF , 657px 208px #FFF , 378px 219px #FFF , 462px 875px #FFF , 1008px 543px #FFF , 1085px 764px #FFF , 261px 1405px #FFF , 1341px 620px #FFF , 408px 934px #FFF , 1339px 884px #FFF , 1228px 1044px #FFF , 997px 1116px #FFF , 940px 1172px #FFF , 1248px 1206px #FFF , 351px 841px #FFF , 494px 86px #FFF , 1077px 254px #FFF , 1299px 755px #FFF , 1376px 494px #FFF , 1016px 514px #FFF , 15px 961px #FFF , 1082px 1194px #FFF , 349px 736px #FFF , 877px 475px #FFF , 911px 1073px #FFF , 1311px 241px #FFF , 1134px 1303px #FFF , 486px 487px #FFF , 257px 1336px #FFF , 1491px 1211px #FFF , 266px 717px #FFF , 1371px 1001px #FFF , 199px 740px #FFF , 468px 244px #FFF , 193px 1463px #FFF , 482px 731px #FFF , 582px 335px #FFF , 918px 561px #FFF , 491px 200px #FFF , 870px 1423px #FFF , 1049px 482px #FFF , 822px 1455px #FFF , 32px 481px #FFF , 1120px 210px #FFF , 588px 1062px #FFF , 224px 968px #FFF , 218px 1150px #FFF , 741px 867px #FFF , 472px 1125px #FFF , 892px 840px #FFF , 970px 66px #FFF , 1081px 1251px #FFF , 117px 344px #FFF , 692px 1311px #FFF , 872px 1025px #FFF , 1121px 451px #FFF , 892px 922px #FFF , 295px 1162px #FFF , 984px 759px #FFF , 1209px 653px #FFF , 790px 1291px #FFF , 549px 538px #FFF , 882px 979px #FFF , 1216px 1489px #FFF , 1215px 948px #FFF , 1187px 1423px #FFF , 826px 1434px #FFF , 1276px 1420px #FFF , 1277px 317px #FFF , 71px 285px #FFF , 954px 1194px #FFF , 800px 787px #FFF , 390px 219px #FFF , 684px 816px #FFF , 1345px 294px #FFF , 1444px 783px #FFF , 461px 936px #FFF , 717px 104px #FFF , 51px 1438px #FFF , 17px 616px #FFF , 1301px 1410px #FFF , 988px 1127px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 76px 79px #FFF , 456px 75px #FFF , 674px 1405px #FFF , 804px 108px #FFF , 152px 743px #FFF , 631px 107px #FFF , 1248px 1485px #FFF , 247px 9px #FFF , 685px 461px #FFF , 905px 5px #FFF , 1085px 1281px #FFF , 1208px 641px #FFF , 658px 114px #FFF , 962px 1417px #FFF , 638px 608px #FFF , 1405px 414px #FFF , 1364px 1046px #FFF , 1449px 1132px #FFF , 1271px 527px #FFF , 529px 128px #FFF , 741px 1014px #FFF , 1093px 103px #FFF , 780px 182px #FFF , 1443px 1188px #FFF , 41px 972px #FFF , 700px 460px #FFF , 971px 191px #FFF , 622px 1482px #FFF , 419px 1035px #FFF , 1404px 68px #FFF , 1344px 766px #FFF , 265px 516px #FFF , 228px 732px #FFF , 1314px 252px #FFF , 401px 368px #FFF , 623px 227px #FFF , 282px 1084px #FFF , 1371px 1424px #FFF , 304px 218px #FFF , 810px 824px #FFF , 998px 897px #FFF , 651px 1063px #FFF , 953px 175px #FFF , 1042px 748px #FFF , 1311px 659px #FFF , 316px 80px #FFF , 659px 1416px #FFF , 1476px 510px #FFF , 659px 1162px #FFF , 915px 412px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 76px 79px #FFF , 456px 75px #FFF , 674px 1405px #FFF , 804px 108px #FFF , 152px 743px #FFF , 631px 107px #FFF , 1248px 1485px #FFF , 247px 9px #FFF , 685px 461px #FFF , 905px 5px #FFF , 1085px 1281px #FFF , 1208px 641px #FFF , 658px 114px #FFF , 962px 1417px #FFF , 638px 608px #FFF , 1405px 414px #FFF , 1364px 1046px #FFF , 1449px 1132px #FFF , 1271px 527px #FFF , 529px 128px #FFF , 741px 1014px #FFF , 1093px 103px #FFF , 780px 182px #FFF , 1443px 1188px #FFF , 41px 972px #FFF , 700px 460px #FFF , 971px 191px #FFF , 622px 1482px #FFF , 419px 1035px #FFF , 1404px 68px #FFF , 1344px 766px #FFF , 265px 516px #FFF , 228px 732px #FFF , 1314px 252px #FFF , 401px 368px #FFF , 623px 227px #FFF , 282px 1084px #FFF , 1371px 1424px #FFF , 304px 218px #FFF , 810px 824px #FFF , 998px 897px #FFF , 651px 1063px #FFF , 953px 175px #FFF , 1042px 748px #FFF , 1311px 659px #FFF , 316px 80px #FFF , 659px 1416px #FFF , 1476px 510px #FFF , 659px 1162px #FFF , 915px 412px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*# sourceMappingURL=homepage.css.map */
