<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/authpage.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body>
		<%- include('templates/navbar') %>
		<main>
			<form action="/auth-status/member" method="post">
				<h1>Become a member</h1>
				<img id="member-img" src="/images/bebop-ein.webp" alt="dog" />
				<% if (user.member_status == 'traveler') { %>
				<div class="input-container">
					<label for="password">Password</label>
					<div class="password-container">
						<input id="password" name="member_password" type="password" required />
						<img class="eye-icon" src="/images/eye.svg" alt="password eye-icon" />
					</div>
				</div>
				<p>
					<span class="hint">HINT:</span> A jazz rhythm and also a spaceship's name. <br />
					Think sci-fi jazz fusion.
				</p>
				<p class="<%= (typeof member_error !== 'undefined') ? 'error' : 'hidden error' %>">Invalid Credential</p>
				<button class="member-btn" type="submit"><p>SUBMIT</p></button>
				<% } else { %>
				<div>
					<h3>You're a <span class="member-msg">member</span>. Please enjoy stay!</h3>
				</div>
				<% } %>
			</form>
			<form action="/auth-status/admin" method="post">
				<h1>Become an admin</h1>
				<img id="admin-img" src="/images/bebop-spike.png" alt="cowboy" />
				<% if (user.member_status !== 'admin') { %>
				<div class="input-container">
					<label for="password2">Password</label>
					<div class="password-container">
						<input id="password2" name="admin_password" type="password" required />
						<img class="eye-icon2" src="/images/eye.svg" alt="password eye-icon" />
					</div>
				</div>
				<p><span class="hint">NO HINTS:</span> Well whatever happens, happens...</p>
				<p class="<%= (typeof admin_error !== 'undefined') ? 'error' : 'hidden error' %>">Invalid Credential</p>
				<button class="admin-btn" type="submit"><p>SUBMIT</p></button>
				<% } else { %>
				<div>
					<h3>You've obtain <span class="admin-msg">admin</span> privilege.<br> Please wield it wisely.</h3>
				</div>
				<% } %>
			</form>
		</main>
	</body>
	<script src="/javascripts/toggle_password.js"></script>
</html>
