<!DOCTYPE html>
<html>
	<%- include('templates/header') %>
  <body>
    <%- include('templates/navbar') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="opts-container">
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
  </body>
</html>
