<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/homepage.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	</head>
	<body>
		<main>
			<header>
				<h1>MEMBERS ONLY</h1>
				<p>A exclusive clubhouse for interdimensional travelers to congregate.</p>
			</header>
			<div class="opts-container">
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
			</div>
			<img id="milky-way" src="/images/milkyway.png" alt="milky way">
		</main>
		<div id="earth"></div>
	</body>
</html>
