<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/homepage.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body>
		<main>
			<header>
				<h1><span>BEBOP</span> PARADISE</h1>
				<p>An exclusive clubhouse for intergalactic travelers to congregate.</p>
			</header>
			<div class="opts-container">
				<a class="btn btn-login" href="/login">Login</a>
				<a class="btn btn-signup" href="/signup">Sign Up</a>
			</div>
		</main>
		<div class="external-images">
			<div id="earth"></div>
			<img id="milky-way" src="/images/milkyway.png" alt="milky way" />
			<img id="galaxy-sky" src="/images/galaxy-sky-cosmos.png" alt="galaxy sky" />
			<img id="galaxy-sky2" src="/images/galaxy-sky-cosmos.png" alt="galaxy sky" />
			<img id="cube" src="/images/cube.png" alt="cube" />
			<img id="radio" src="/images/radio.png" alt="radio" />
			<div class="galaxy-overlay"></div>
			<div id="stars"></div>
			<div id="stars2"></div>
			<div id="stars3"></div>
		</div>
	</body>
	<script src="/javascripts/music_listener.js"></script>
</html>
