<!DOCTYPE html>
<html lang="en">
	<%- include('templates/header') %>
<body>
   <form action="" method="post">
      <div class="form-opt">
         <label for="username">Username</label>
         <input type="text" name="username" id="username" required>
      </div>
      <div class="form-opt">
         <label for="password">Password</label>
         <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Log In</button>
   </form>
</body>
</html>