<!DOCTYPE html>
<html lang="en">
	<%- include('templates/header') %>
<body>
   <form action="" method="post">
      <div class="form-opt">
         <label for="username">Name *</label>
         <input type="text" name="username" id="username" placeholder="Alexander Hamilton" required>
      </div>
      <div class="form-opt">
         <label for="password">Password *</label>
         <input type="password" name="password" id="password" required>
      </div>
      <div class="form-opt">
         <label for="password-confirm">Password Confirm *</label>
         <input type="password" name="password_confirmation" id="password-confirm" minlength="8" required>
      </div>

      <button type="submit">Sign Up</button>
   </form>
   <% if(typeof errors !== 'undefined' || typeof password_error !== 'undefined') { %>
      <div><%= password_error %></div>
   <% } %>
</body>
</html>