<div class="navbar">
   <a href="/" class="nav-left nav-opt-container">
       <img id="home-icon" src="/images/cake.png" alt="home icon">
       <span class="home">HOME</span>
   </a>
   <a href="/logout" class="nav-right nav-opt-container">
      <img id="logout-icon" src="/images/exit.png" alt="exit-icon">
      <span class="logout-btn">LOG OUT</span>
   </a>
</div>
